[2016-09-29 02:14] GalateaRaj opened #1 "Code structure"
Use spring boot structure
Configuration classes and main are in root.  Main class is called application.java
Application.yml file in resources
Repository goes in rpsy package under domain
Create component package

[2016-09-29 02:15] GalateaRaj opened #2 "Encrypted properties"
Figure out how to handle them

[2016-09-29 02:19] GalateaRaj opened #3 "Integration vs unit testing"
How do we want that to work?

https://www.javacodegeeks.com/2015/01/separating-integration-tests-from-unit-tests-using-maven-failsafe-junit-category.html

Where do we store integration tests?

[2016-09-29 02:20] GalateaRaj opened #4 "Logging"
Log4j2 seems to be the way to go. It's already in our pom, but we should make sure we have the latest version.

We need to add log config yaml file some of these key concepts:
Logs should be rolled based on time. Rolled logs should be gz.
Old Logs should be archived (old = previous jvm runs and previous days) and gz into a separate directory.
Logging should be async
Stdout and stderr should go to

[2016-09-29 02:21] GalateaRaj opened #5 "Jvm args"
Add them

[2016-09-29 02:25] GalateaRaj opened #6 "Productionization"
Incorporate stuff from here: http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#production-ready

[2016-09-29 13:02] GalateaRaj opened #7 "Set up sonar"
This should run as a part of our travis CI build.  We should also be able to run sonar analysis from our IDE.

We should also consider failing the build if our tech debt increases beyond a threshold or if our RCI drops below a threshold.

[2016-09-29 13:02] GalateaRaj opened #8 "Set up checkstyle"
Define checkstlye rules. I think there is a google standard that we should just use and make sure Travis CI build fails if there are checkstyle issues.  Which means you'll have to fix our existing ones.

[2016-09-29 19:19] GalateaRaj opened #9 "Add save actions and code templates"

[2016-09-29 20:16] GalateaRaj opened #10 "Use jetty instead of tomcat"
And talk to Alex F to make sure we don't use the version with a bug

[2016-09-30 02:36] GalateaRaj opened #11 "Decide whether to encourage (and demonstrate) use of capsule in non-PAAS environments"

[2016-09-30 02:38] GalateaRaj opened #12 "Add to do to check jvm args"

[2016-09-30 02:38] GalateaRaj opened #13 "Add sonar"

[2016-09-30 02:38] #13 closed

[2016-10-06 10:29] GalateaRaj opened #14 "Demonstrate how to return exceptions in spring rest"
https://spring.io/blog/2013/11/01/exception-handling-in-spring-mvc

Write custom handler to translate exception message to something that is returned to caller.

[2016-11-09 14:47] GalateaRaj opened #15 "Support dynamically changing logging levels"
http://stackoverflow.com/questions/23434252/programmatically-change-log-level-in-log4j2

[2016-11-09 14:59] GalateaRaj commented on #15
Enumeration allLoggers = Logger.getRootLogger()
.getLoggerRepository()
.getCurrentLoggers();

[2016-11-16 21:50] GalateaRaj opened #16 "Support client provided query id which shows up in your logs"
This covers the 'external' request id part of issue #43.

[2016-11-17 03:25] GalateaRaj opened #17 "Time entire rest call"
http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html#mvc-config-customize

[2016-11-17 03:25] GalateaRaj opened #18 "Add rest exception handling"
http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/web/bind/annotation/ControllerAdvice.html

[2016-12-02 21:02] j-barber opened #20 "Include RFB harness"

[2016-12-02 21:07] #1 closed

[2016-12-05 13:30] GalateaRaj opened #21 "Run integration and unit tests during TravisCI build"
Make sure that both types of tests are running during TravisCI build

[2016-12-05 13:32] GalateaRaj opened #22 "Add JMS entry point"
Add an JMS entry point that will accept agreements and spawn missions.

[2016-12-05 13:33] GalateaRaj opened #23 "Demonstrate how to call another REST service"
We need to decide if we like spring rest template or feign and show an example of that.

[2016-12-05 13:35] GalateaRaj opened #24 "Demonstrate use of @Retryable"
Use this for repositories as well as calls to external REST services.

[2016-12-05 13:37] GalateaRaj opened #25 "Expose JMX via JConsole and Jolokia"
But make sure we have the proper level of authentication around it.

[2016-12-05 13:37] GalateaRaj opened #26 "Integrate capsule with spring profiles"

[2016-12-05 13:38] GalateaRaj opened #27 "Expose spring actuator endpoints"
However make sure we have the right level of authentication.

Perhaps some endpoints (e.g. shutdown) should only be accessible from the host running the jvm.

[2016-12-05 13:39] GalateaRaj opened #28 "Integrate with spring metrics"
Figure out what we want to do here.

Also figure out how we would export metrics to a collector (e.g. statsd or collectd).

[2016-12-05 13:39] GalateaRaj commented on #20
Should this also include continuous health checks?

[2016-12-05 13:45] GalateaRaj opened #29 "Provide standard logging around every request via an entrypoint"
Every "request" to an entry point should:
1. Be logged
2. Set the thread name to some id that identifies the request
3. Set the mdc with any other context info
4. Be timed
5. If an error is thrown, that error should be logged as well

[2016-12-05 13:52] GalateaRaj opened #30 "Add aspect4log config override"
And change the symbols we use for method entry and exit.

[2016-12-05 13:56] j-barber commented on #20
Yes -- the RFB/health checks should be continuous

[2016-12-06 22:59] GalateaRaj commented on #30
Should also change to using aspectj instead of spring aop.  I'd update the title of the issue but i can't seem to do it from my phone...

[2016-12-07 03:07] GalateaRaj opened #32 "Add support for https in rest service"

[2016-12-07 03:08] GalateaRaj opened #33 "Check entitlements during REST call"

[2016-12-07 10:43] GalateaRaj opened #34 "Add example of spring application event listener"

[2016-12-07 11:28] GalateaRaj opened #35 "Demonstrate @async annotation"
Demonstrate the following:
- How to return a callable as well as a void
- How to use your own executor (instead of the default one)

[2016-12-07 11:47] GalateaRaj opened #36 "Create file based entry point"
And use it to demonstrate java 8 parallel stream and poller annotation

[2016-12-07 16:04] j-barber commented on #30
"Whichever logging aspect we use, we should use aspectj instead of spring aop and make sure aspectj works with eclipse, intellij, and maven builds." -- what's the rationale behind aspectj over spring aop?

[2016-12-07 16:05] j-barber commented on #4
"Log4j2 seems to be the way to go." -- what were the relevant details in this decision?

[2016-12-07 16:31] GalateaRaj commented on #4
We had a discussion about it in #tech-java and I believe Augusta had a proposal that seemed sensible.

The highlights from my pov:
1.  It has a built in asyc appender
2.  It offers more throughput than logback

[2016-12-07 16:35] GalateaRaj commented on #30
A few reasons:

Spring aop won't log method calls within a class (since those bypass the proxy).

Spring aop proxies add performance overhead (although that's relatively minor for most of our use cases)

Proxies cause confusion since you can only dependency inject them via the interface.  Normally this isn't an issue (since you should be referring to the interface) but it does lead to a bit more w

[2016-12-09 03:25] #4 closed

[2016-12-09 03:29] GalateaRaj opened #38 "Show example of cacheable"

[2016-12-09 14:00] j-barber commented on #10
What's the benefit of Jetty vs. Tomcat?

[2016-12-09 14:01] GalateaRaj opened #39 "Add support for protobuf"
Show an example of how we would use protobuf for jms

[2016-12-09 14:02] j-barber commented on #12
Is this a duplicate of #5 (JVM args)?

[2016-12-09 19:26] GalateaRaj commented on #10
Mainly performance.  We've run several tests on client projects and jetty seems to perform much better than tomcat.

[2016-12-09 19:27] GalateaRaj commented on #12
This one is to add a //TODO:  in Fuse code somewhere (or on a checklist) to make sure the application developer who is using FUSE double checks that the JVM args are relevant to their project.

#5 is actually to come up with FUSE recommended JVM args.

[2016-12-09 19:35] j-barber commented on #5
Should be in line with Gala-standards: https://sites.google.com/a/galatea-associates.com/intranet/knowledge/galatea-standards/development?pli=1#TOC-Recommended-JVM-Args

May require updating the standards...

[2016-12-09 20:13] GalateaRaj opened #40 "REST tracer doesn't populate request-success correctly on 400 status codes"
This includes serialization errors or bad urls.

Request-success is set to "true" instead of "false".

[2016-12-09 20:14] GalateaRaj opened #41 "Need to add back JMS retry using retryable annotation"

[2016-12-09 20:14] GalateaRaj opened #42 "Add unit tests for jms and mvc endpoints"

[2016-12-09 20:24] GalateaRaj opened #43 "Utilize mdc to log request context info"
Internally generated id at start of trace (generate in AutoClosedTrace ctor)
Request specific id at start of trace (via a Tracer.addTraceInfo call from the web request filter, the jms listener container, or some other entry point specific method)
Request specific id at start of handler method call (via an annotation on the handler method call)

[2016-12-12 18:43] GalateaBerto opened #44 "Add .editorconfig with style standards"

[2016-12-13 02:19] GalateaRaj opened #46 "Add jtop to fuse"
And update readme to describe how to use it

[2016-12-13 11:25] GalateaRaj commented on #28
I should add that performance metrics should integrate with our tracer so that we have a consolidated view of metrics and a trace that we can store in our trace repository.

[2016-12-13 11:30] GalateaRaj commented on #28
Also worth looking at dropwizard metrics to see if we want to use that instead

[2016-12-13 12:50] GalateaRaj commented on #30
test comment for james

[2016-12-13 12:54] GalateaRaj commented on #44
Please see comment on pull request on whether this belongs in fuse-settings or here.

[2016-12-13 16:31] GalateaRaj commented on #7
Sweet.  This is done.  https://sonarqube.com/dashboard/index/org.galatea:fuse-starter-java

[2016-12-13 17:46] #7 closed

[2016-12-13 18:38] GalateaRaj opened #47 "Update README -- November 2017"

[2016-12-13 18:39] GalateaRaj commented on #21
Done

[2016-12-13 18:39] #21 closed

[2016-12-13 18:39] #3 closed

[2016-12-15 19:48] j-barber commented on #43
Additional requirements:

1. Internally generated id should be included in log statements
2. Externally provided id from rest requests should be included in log statements (if provided)
3. Externally provided id from JMS requests should be included in log statements (if provided)

[2016-12-15 19:51] GalateaRaj commented on #36
Here is the "poller" annotation:  https://spring.io/guides/gs/scheduling-tasks/

[2016-12-16 11:17] GalateaRaj commented on #36
And here are some examples of streaming from files: https://www.mkyong.com/java8/java-8-stream-read-a-file-line-by-line/

[2016-12-16 13:21] j-barber commented on #43
Also,
4. Update README with:
a. where/how internally generated ids are generated and added to MDC
b. where/how externally generated ids are looked for
b. where/how ids are pulled from MDC into log files

[2016-12-16 14:10] j-barber commented on #43
Ensure issue exists for returning the Ids in any response

[2016-12-16 14:59] j-barber commented on #7
That link didn't work for me, but this did:
https://sonarqube.com/dashboard?id=org.galatea%3Afuse-starter-java

[2016-12-16 15:16] j-barber opened #49 "Generate and log an internal request id with each request"
This covers the 'internal' request id part of issue #43.

[2016-12-16 18:02] j-barber opened #51 "Return common Audit section in REST request responses"
Responses to REST requests should contain an Audit section with some common information including:
1. When the request was received
2. How long the request took
3. The request Ids (internal, and external if provided)
4. The host that handled the request

[2016-12-19 15:37] j-barber opened #52 "Stdout and stderr should go to special sync logs"
This task was not completed under #4.

[2016-12-23 16:18] GalateaRaj opened #53 "Illustrate best practices on how a java application should interact with a db"
Show include how to:
use sprocs
manage transactions across services
provide audit fields (eg last updated by)
properly use connection pools (see #87 )
cache frequently queried data
illustrate best practices around joins
use a tool like flyway (since it's integrated with spring) to manage the database schema (https://docs.spring.io/spring-boot/docs/current/reference/html/howto-database-initializati

[2017-01-03 15:08] j-barber commented on #53
Also:
Bulk writes
Auditing messages into a db in a performant/scalable manner

[2017-01-04 09:48] ButlerAndy commented on #53
Be careful with Triggers for audit - if you have a lot of updates they will slow things down a lot. This is another reason to handle DML with procedures. You can bulk update and move to Audit while managing the log.

Couple of other things:

- Always update/delete in batches (configurable if possible so size can be changed easily).
- Lock down audit columns so they cannot be changed by an insert o

[2017-01-04 18:25] GalateaRaj opened #54 "Demonstrate how to best use the checker framework"
https://blogs.oracle.com/java-platform-group/entry/java_8_s_new_type

[2017-01-05 13:23] GalateaRaj commented on #35
Some sample configuration:

@Configuration
@EnableAsync
public class AppConfig implements AsyncConfigurer {

    @Override
    public Executor getAsyncExecutor() {
        return null; //Use default behavior.
/*         ThreadPoolTaskExecutor executor = new ThreadPoolTaskExecutor();
        executor.setCorePoolSize(7);
        executor.setMaxPoolSize(42);
        executor.setQueueCapacity(11);

[2017-01-17 09:46] gala-dan commented on #35
Interesting blog post about the use of Future<> and CompletableFuture<> when dealing with @Async methods.

http://javapapo.blogspot.co.uk/2016/04/spring-async-and-javas-8.html

[2017-01-18 21:33] adelsam commented on #27
http://docs.spring.io/spring-boot/docs/current/reference/html/production-ready.html

[2017-01-19 19:00] j-barber opened #55 "Document Tracer"
What is Tracer.java used/useful for? What does it do?

[2017-01-23 16:52] j-barber opened #56 "Limit number of messages processed concurrently from a Queue"
Demonstrate (and document!) how to limit the number of messages drained off the queue to avoid draining all the messages into the application faster than they can be processed, OOM'ing the process.

[2017-01-23 17:12] j-barber opened #57 "Demonstrate processing multiple messages in parallel from a TOPIC"
While ensuring that if processing a single message fails then the message doesn't get lost.

[2017-01-23 19:51] adelsam commented on #47
Looking into this.

[2017-01-25 03:52] joshua-philpott commented on #56
This can be accomplished with the concurrency parameter on the @JmsListener annotation. This is currently being accomplished in SettlementJmsListener.java

[2017-01-25 20:03] j-barber opened #58 "What's the preferred way to time methods/processes these days?"
Some flavor of stopwatch?

[2017-01-30 18:28] j-barber opened #59 "Put REST audit info in headers"
Issue #51 added audit info via a data envelope. Get rid of that and just put the audit in the header

[2017-01-31 16:36] gala-dan opened #60 "Would be nice to see some date handling logic examples"
Is java.util.Date a sensible type for storing dates, or should we use ZonedDateTime instead? What about dates coming to us in a json format?

Other date related operations?

[2017-02-13 09:01] gala-dan commented on #53
Bonus points for using Oracle data types (requiring java.sql.Struct) and nested tables (requiring java.sql.Array).

[2017-02-15 13:12] gala-dan opened #61 "Show how to encrypt sensitive values in configuration"
Some clients will require us to encrypt passwords in configuration.

[2017-02-21 11:54] gala-dan commented on #23
[Link](https://spring.io/blog/2015/01/20/microservice-registration-and-discovery-with-spring-cloud-and-netflix-s-eureka) to help the mere mortals among us to show differences.

[2017-02-23 08:57] gala-dan opened #62 "Create a functional interface that allow us to call methods that throw checked exceptions within an lambda"
It can be frustrating to need to call a method within a lambda that throws a checked exception (usually within a library that's out of our control). This means we have to revert to using a for loop to call code that could normally be called more elegantly through a lambda.

See http://codingjunkie.net/functional-iterface-exceptions/ for an example of how this can be achieved.

[2017-03-02 17:20] gala-dan commented on #62
Having looked into how this would be achieved not convinced it is any more concise than simply implementing a new private method that is annotated with @SneakyThrows and calling that within the lamda.

[2017-03-02 17:20] #62 closed

[2017-03-03 04:29] #49 closed

[2017-03-03 04:30] #51 closed

[2017-03-03 04:30] #43 closed

[2017-03-03 04:31] #16 closed

[2017-03-03 04:31] #59 closed

[2017-03-08 17:48] joshua-philpott opened #63 "EhCache configuration in JavaConfig is unnecessary w/ Spring Boot. Remove CachingConfig"
@EnableCaching will automatically setup the EhCacheManagerFactoryBean and the CacheManager

[2017-04-04 12:49] gala-dan opened #64 "Update the Spring Boot dependency version"
Currently using 1.4.1 but 1.5.2 is available.

[2017-04-04 13:00] gala-dan commented on #10
Link to Spring docs on how - https://docs.spring.io/spring-boot/docs/1.5.10.RELEASE/reference/html/howto-embedded-servlet-containers.html#howto-use-jetty-instead-of-tomcat

[2017-04-12 14:57] adelsam opened #65 "Best Practices for database interaction"
We want to promote the use of spring-data and JPA, but we also need to include recommendations for bulk operations that JPA struggles with.

[2017-04-25 08:25] gala-dan commented on #23
Also, a very useful [blog](http://theblasfrompas.blogspot.co.uk/2016/12/spring-boot-feign-client-accessing.html) on how to use Feign to consume another REST service, which includes some config settings that are not easily found in other blogs and tutorials.

[2017-05-04 18:12] #65 closed

[2017-05-04 18:12] j-barber commented on #65
Duplicate of #53

[2017-05-04 18:12] j-barber commented on #53
From Sam's comment on issue #65: We want to promote the use of spring-data and JPA, but we also need to include recommendations for bulk operations that JPA struggles with.

[2017-05-05 13:23] gala-dan opened #66 "[BUG] application.yml needs to be updated to remove white space in profile sections"
White space is significant within the Spring profiles sections. This means the following:

[code]

[code]

With the additional white space the settings are not found by Spring.

[2017-05-25 08:54] gala-dan opened #67 "Demonstrate how to expose JMX endpoints"
Bonus points for including Jolokia.

[2017-05-25 10:03] gala-dan commented on #34
For those who are curious right now, see http://zoltanaltfatter.com/2016/05/11/application-events-with-spring/

[2017-05-31 13:26] gala-dan opened #68 "Create an IntelliJ inspection profile"
Very useful to have a common set of inspections that we expect our code to pass and tweak as necessary, as opposed to creating a new one every project.

Assume Eclipse has a similar feature.

[2017-06-02 03:46] GalateaRaj opened #69 "Gather consensus for Galatea's best practice on what criteria should fail Sonar analysis"
Define what is worthy of failing the build and fail the build based on that.

We expect this to serve as a guideline for failing the build at the client due to Sonar issues.

[2017-06-04 07:53] EricLeighCollins commented on #66
Danny -- I hate to get off on the wrong foot here, but I don't believe your proposed change is a good idea.  I agree that white space is certainly significant for yaml syntax, however the goal here is to set the property "spring.datasource.username" which does seem to be what the current application.yml succeeds in doing.  Your proposal would set the property "datasource.username" which is potenti

[2017-06-05 07:41] gala-dan commented on #66
Ha - how can I argue with that reasoning? Not sure why I thought the config wasn't trying to set spring.datasource.name. I had copied the config to my project but needed to change slightly different properties and the solution was to change the indentation, although clearly my situation differed. Will close.

[2017-06-05 07:41] #66 closed

[2017-06-06 06:40] EricLeighCollins commented on #64
upgraded to 1.5.3 as the most recent from spring: http://projects.spring.io/spring-boot/

looks like 2.0 is right around the corner!

[2017-06-06 07:12] EricLeighCollins commented on #63
so, i removed the CachingConfig class and put the @EnableCaching annotation over on to the AppConfig class.  However, given there's no feedback from spring boot about whether caching is in fact enabled or not or what cache manager implementations it's using I'm unconvinced.  I think some more time to explore caching in general is probably in order.

[2017-06-06 07:14] EricLeighCollins commented on #38
ah, yes, here it is, can i +1 this issue?

[2017-06-06 07:14] EricLeighCollins commented on #63
found #38 which i think would be useful.

[2017-06-06 12:47] j-barber commented on #36
Upvote. Any Spring Boot/Batch/Other infrastructure to handle all the rote mechanics?

[2017-06-06 12:50] j-barber commented on #2
Would love to see property management strategy that makes new logical environments painlessly easy to spin up. Ability to 'clone from' existing environment, then update/override properties as needed.

[2017-06-09 18:20] j-barber opened #72 "Document what to change to use a db other than h2"
Spring Boot JPA does a lot of magic to implement repositories off of interfaces, which are currently backed by H2. What needs to change (pom.xml? application.yml?) if using, say, Oracle or Sybase? Can we add some comments/pointers?

[2017-06-10 21:42] EricLeighCollins commented on #69
https://github.com/SonarQubeCommunity/sonar-build-breaker/ should help in terms of the acutal mechanism of failing the build based on sonar qube results.

[2017-06-10 21:47] EricLeighCollins commented on #9
ah, i found the formatter in fuse-settings...  was confused for a minute there...

[2017-06-10 21:49] EricLeighCollins commented on #9
looks like you're using the eclipse formatter from here: https://github.com/google/google-java-format -- which seems like a good idea.

[2017-07-09 20:53] EricLeighCollins commented on #44
I would like to offer that we don't use .editorconfig.  My reasoning:

1. editor config at the moment appears to support a pretty limited feature set: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties -- basically it deals with tabs vs spaces and new line characters.  Both of which are already handled by the eclipse formatter config, and i presume by whatever intellij's ana

[2017-07-10 13:40] adelsam commented on #44
I'm fine killing this.

[2017-07-10 13:42] adelsam commented on #38
Just ran into this issue again.  I think I want to see demonstration of how to use @Cacheable and how to test it, but I also don't want .xml configuration files anywhere in fuse.  Happy to see this one added to Eric Milestone #1 instead of #63

[2017-08-07 20:23] hstandring opened #73 "Show how to set the fetch size on spring data repository methods"
Fetch size is defaulted to 10 but increasing can improve performance by limiting the number of round trips to the database when the result set is large.

[2017-08-30 12:45] paulo-reichert opened #74 "Provide a template parallel task executor"
For work that needs to be forked out for parallel processing it is useful to have a framework similar to Actors in Scala or Task in C#/.NET. It would be useful if FUSE provided a similar construct for Java, based on Quasar (http://docs.paralleluniverse.co/quasar/) or something similar.

[2017-08-31 15:48] gala-dan opened #75 "Demonstrate simple producer consumer pattern"
The producer/consumer pattern is a fairly commonly required pattern. Would be great to have an example in FUSE. For example, we may want to enqueue messages received in the entry points and have those processed by a separate consumer, rather then directly on the thread in which they are received.

[2017-08-31 18:02] stephenwebel opened #76 "Input Aware Fast Return Methods"
I frequently write methods that take in a collection of ids and performs some costly action with the provided ids. For example, `Collection<Instrument> fetchInstrumentsForIds(Collection<String> ids);` takes a list of Instrument identifiers and does some out of process call. Inevitably, the method ends up looking like this:
[code]

I want an annotation to handle this size checking and empty collect

[2017-08-31 18:08] stephenwebel commented on #58
@j-barber I feel this question is really two questions:

1. What is the best way to get real-time application metrics
2. What is the best way to get performance benchmarks (micro/macro)

[2017-09-14 15:33] ConorEbbs opened #77 "Fix log files getting created twice at Application Startup"
All log files get created on application startup, the only thing that gets logged out is:

2017.09.14 11:29:58.169 [main] INFO  o.g.s.Application - Starting spring application fuse-starter-java

Then the logger seems to roll and create a whole new set of log files.

The log files have the same formatting, so it doesn't seem to be the default logging getting started before finding the log4j2 setup.

[2017-11-13 16:06] GalateaRaj opened #79 "Use jenkins pipeline to build fuse-starter-java"
1. Set up a multi-branch pipeline build using a jenkins file that is checked into git.  This is how jenkins pipelines work:  https://jenkins.io/doc/book/pipeline/ and here is the section specific to multi-branch pipelines:  https://jenkins.io/doc/book/pipeline/multibranch/
2. Figure out which jenkins we can use to run the build.  Can we use Gala jenkins or will that not work with GitHub webhooks?

[2017-11-20 12:53] gala-dan opened #82 "Update SonarQube link"
The read me currently provides the SonarQube link as https://sonarqube.com/dashboard?id=org.galatea%3Afuse-starter-java. This needs to be updated to https://sonarcloud.io/dashboard?id=org.galatea%3Afuse-starter-java.

[2017-11-24 13:36] gala-dan commented on #82
Have updated the link. However, instructions to configure SonarLint also need to be updated. Can't currently get SonarLint to use SonarCloud.

[2017-11-28 14:03] GalateaRaj opened #84 "Set up jenkins builds per best practices"
We should have these builds defined in our jenkins pipeline file:

Branch build (if supported by Github) – triggered off commits to a bugfix, feature, or hotfix branch but NOT a release branch
1. Compile code
2. Run sonar and fail if we don't meet the quality gate
3. Run checkstyle and fail if we have violations
4. Run Junits and fail if tests fail

PR Build – triggered off PRs
1. Run all steps fr

[2017-11-28 16:02] GalateaRaj opened #85 "Add an example of calling an upstream rest service"
Along with examples of how to test it.

[2017-11-30 13:18] GalateaRaj opened #86 "Show how to make a memory bounded cache"
Do it in a way that performs well even for larger caches.

[2017-11-30 13:19] GalateaRaj opened #87 "Use hikaricp for connection pooling"
And make sure it integrates nicely with actuator

[2017-11-30 13:20] GalateaRaj opened #88 "Fix tracer filter to log exceptions correctly"
Right now MDC is cleared before the servlet handler gets the exception

[2017-11-30 13:20] GalateaRaj opened #89 "Log trace info as json"

[2017-11-30 13:21] GalateaRaj opened #90 "Show how to produce log files as json"
Make sure we like how exceptions are displayed

[2017-11-30 13:21] GalateaRaj opened #91 "Show how to log exceptions as one line in log4j2"
Design
--

Add _'%xThrowable{separator(|)}'_ to the logging Pattern in all log4j config files (app, stdout and debug).

This replaces new lines on logged exceptions with the pipe (|) symbol.

[2017-11-30 15:27] GalateaEric opened #92 "demonstrate sensible exception management"
eric [10:18 AM]
we don't really seem to do much with exceptions in here

[10:19]
can we get that on the roadmap somewhere?

basu [10:20 AM]
sure.  although doesn't spring boot handle most of that for us

eric [10:20 AM]
most of it, but we should have at the least some good examples of creating strongly typed exceptions with reasonable error messages

basu [10:20 AM]
ah.. yes

[10:20]
agree

[10:21

[2017-11-30 16:48] GalateaEric commented on #14
sort of duplicate of #92

[2017-11-30 16:58] GalateaEric commented on #47
1.  "how to run project" section of readme for intellij
2.  incorporate feedback from recent end-users
3.  Add tiny section on functionality

[2017-12-01 21:04] #44 closed

[2017-12-01 21:10] GalateaEric commented on #64
we're at 1.5.6 as of 12/1/2017.  Current is 1.5.9, which is close enough, 2.0 still not out yet.  Closing this ticket...

[2017-12-01 21:10] #64 closed

[2017-12-04 13:02] gala-dan commented on #18
A blog explaining a little bit about @ControllerAdvice - https://lankydanblog.com/2017/09/12/global-exception-handling-with-controlleradvice/

[2017-12-07 18:13] gala-dan opened #94 "Resolve issues raised by google style checks"
Once we configure the Maven checkstyle plugin to use google_checks.xml it raises a number of violation warnings. These need to be resolved.

[2017-12-07 19:32] GalateaEric opened #95 "Set up cloud foundry for fuse"
I think all the changes this will entail are creating a manifest.yml.

Relates to #84 a little.

[2017-12-12 11:31] gala-dan commented on #94
This has been fixed by @GalateaEric in the feature/issue-79-jenkins-pipeline branch.

[2017-12-12 11:31] #94 closed, assigned to nobody

[2017-12-12 11:32] gala-dan commented on #69
Can close this once Travis build is demised in favour of Jenkins.

[2017-12-12 11:33] gala-dan commented on #47
Can be closed.

[2017-12-12 14:22] GalateaEric commented on #95
closing this for now.  We have a simple CF setup with an org: FUSE, space: development that runs our spring app.

Still using an embedded H2 database, haven't set up a MySQL service yet.

The jenkins pipeline build automatically deploys on new builds.

[2017-12-12 14:22] #95 closed, assigned to nobody

[2017-12-12 14:36] GalateaEric commented on #69
Renamed to be more appropriate now that we use Jenkins to initiate the sonar stuff rather than Travis.  I believe we are still rocking 100% defaults on sonar cloud.  I presume other people have opinions on what criteria to configure.

[2017-12-12 14:39] GalateaEric opened #97 "Create an example integration test against the CF development space"
Need one example of an integration test that runs as part of the Jenkins pipeline and interacts with the deployed CF instance of our app in the 'development' space.

Let's use feign to build some http requests and exercise the REST endpoints.  We'll save the JMS queue for later...

[2017-12-13 15:14] gala-dan opened #98 "Replace maven with gradle"
See the [Gradle migrating from Maven](https://guides.gradle.org/migrating-from-maven/) guide.

First step is to run `gradle init` from the root project directory.

[2017-12-13 15:59] gala-dan commented on #79
Pipeline file has been created and merged to develop. Branch builds are detected via the webhooks.

PR builds are not automatically triggered but will look at that through issue #84.

1. Done
2. Setup AWS instance of Jenkins
3. Will look at as part of #84
4. Will do separately

[2017-12-13 15:59] #79 closed

[2017-12-13 16:05] gala-dan commented on #84
We currently have a Jenkins pipeline set-up that follows the above pattern.

Outstanding tasks:

1. Trigger builds automatically for PR
2. Jacoco step from above, although SonarQube quality gate will fail if we don't have sufficient coverage
3. Missing shutdown step

[2017-12-13 16:32] gala-dan commented on #84
Regarding 3, it seems the Cloud Foundry Jenkins plugin doesn't provide any way of stopping an application. Appears we'll need to install CF on the Jenkins server and manually call the `cf stop APP_NAME` command within a timeout.

[2017-12-14 13:48] gala-dan commented on #8
This is resolved by issue #79. We now use *google_checks.xml* with the Maven checkstyle plugin and fail the build on any violations.

[2017-12-14 13:48] #8 closed

[2017-12-14 13:55] gala-dan commented on #84
Regarding 1, the GitHub PR Build plugin has been installed, and a common shared secret has been supplied to both the plugin config and the GitHub webhook. Waiting for PR to be submitted before can test.

[2017-12-14 16:00] gala-dan opened #100 "Add Slack integration into build process"
Send slack notifications to a new slack channel - #fuse-java-build.

Installed the Slack Notification Plugin but this caused a number of NullPointerExceptions to be thrown within Jenkins. May be OK if configured correctly.

https://wiki.jenkins.io/display/JENKINS/Slack+Plugin

Note the following issue has affected us after installing the Slack plugin - https://github.com/jenkinsci/slack-plugin/iss

[2017-12-15 11:28] gala-dan commented on #84
Regarding 2, Eric is currently working on migration to Gradle from Maven so will change anyway.

[2017-12-15 12:47] gala-dan opened #101 "Update config handling to be 12-factor compliant"
Application config is currently stored in *application.yml*. However, this contravenes the 12-factor app guidelines.

https://12factor.net/config

[2017-12-19 11:18] gala-dan commented on #68
[Here](https://github.com/google/styleguide/blob/gh-pages/intellij-java-google-style.xml) it is.

[2017-12-19 11:58] gala-dan commented on #68
README updated in branch #84 with link to file.

[2017-12-19 11:58] #68 closed

[2017-12-21 14:01] #100 closed

[2018-01-04 09:31] ChristopherBond opened #104 "Disable Travis"
We've now got Jenkins making Travis redundant.

[2018-01-08 13:16] gala-dan opened #106 "Show an example of using JSR 380 Bean Validation 2.0"
http://www.baeldung.com/javax-validation

http://docs.jboss.org/hibernate/stable/validator/reference/en-US/html_single/#_validating_constraints

https://stackoverflow.com/questions/8682246/javax-bean-validation-based-on-variables

Issue Description
--
Demonstrate a simple use of bean validation (annotation based)
Show use of a custom annotation
Provide supporting tests to prove functionality

Desi

[2018-01-23 09:59] ChristopherBond opened #108 "jacoco-maven-plugin config"
I've been having some issues with my builds getting rejected because they don't reach the minimum 80% coverage on sonarcloud as I haven't tested auto-genrated lombok getters/setters/ToString etc on POJOs.

If we're using a Jacoco version > 0.8 the SonarQube analysis should ignore these auto-generated lombok methods (http://www.jacoco.org/jacoco/trunk/doc/changes.html). I've tried specifying in the

[2018-02-06 21:21] j-barber commented on #85
I propose we close this issue as a duplicate of #23

[2018-02-07 21:40] j-barber opened #110 "Explain how to run unit/integration tests in Eclipse and cmd line in README.md"
The standard r-click 'run as JUnit Test' results in 1 error and 1 failure, because integration tests are run (without the integration test environment being up) and because the SettlementJmsListenerTest doesn't succeed when run this way (unclear why).

![image](https://user-images.githubusercontent.com/23705265/35942914-5cff9a48-0c25-11e8-9d40-45bf37638cfc.png)

r-clicking 'run as JUnit Test' on s

[2018-02-12 18:17] j-barber commented on #97
Can this be closed as 'completed'? The SettlementRestControllerIntegrationTest uses Feign to hit the rest service deployed on CF.

[2018-02-12 18:51] GalateaEric commented on #97
i think i was leaving it open as it hadn't yet made it into develop, etc...  that's my best guess at any rate.

[2018-02-12 19:15] j-barber commented on #97
SettlementRestControllerIntegrationTest is in develop, though: https://github.com/GalateaRaj/fuse-starter-java/blob/develop/src/test/java/org/galatea/starter/entrypoint/SettlementRestControllerIntegrationTest.java

[2018-02-12 19:59] GalateaEric commented on #97
oh, right, i was thinking in my head (i mean, where else do you think) that it was tied up with the gradle conversion.  Yes, then I would think you can close this if you're happy with the integration test example.  Is it up to your exacting standards?

[2018-02-13 14:02] #97 closed, assigned to ChristopherBond

[2018-02-13 15:16] j-barber opened #114 "Allow unit tests to be skipped independently of integration tests"
Allow unit tests to be skipped (e.g. for running locally, or when running multiple steps in Jenkins). See: https://stackoverflow.com/questions/6612344/prevent-unit-tests-in-maven-but-allow-integration-tests

[2018-02-13 16:04] j-barber opened #115 "Trigger Jenkins build on new Pull Request"
Building on the work done for issue #84, new Pull Requests don't currently automatically trigger a Jenkins build.  The new PR is found when 'Scan Repository Now' is pressed, and when updates to an existing PR are made, but there doesn't look to be a message sent from GitHub to Jenkins for a new PR.

[2018-02-13 16:05] j-barber opened #116 "Integration Tests fail sporadically"
Issue #84 set up Integration Tests to be run against a running CloudFoundry app instance. Often, the rest requests fail with 502 (due to the CF reverse proxies not having refreshed to point to the newly deployed app instance).

[2018-02-13 16:06] j-barber opened #117 "Log to stdout when running on cloud foundry"
CF only picks up logs written to stdout/stderr. Create a new logging profile to route all logs to stdout/stderr and use this profile when running on CF. Keep the existing logging config, since it's still commonplace to need to log to a filesystem.

[2018-02-13 16:09] j-barber commented on #38
Currently there's an @Cacheable annotation on ISettlementMissionRpsy, but w/ no eviction policy. This causes the issue that when querying for a settlement mission with an Id that doesn't yet exist you get a 404, then if that mission is created you'll continue to get 404 when querying.

Update the eviction policy to invalidate the cache when it's updated.
Also, add some more comments around our use

[2018-02-13 16:18] j-barber commented on #110
Merged in PR #113

[2018-02-13 16:18] #110 closed, assigned to j-barber

[2018-02-13 16:51] j-barber opened #119 "Run Integration Tests on merge to Develop"
Continuing on the work done under issue #84, Integration Tests should be run on a merge to Develop.

Currently they're skipped
Jenkinsfile:

https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/job/develop/6/consoleText:

[Pipeline] { (Integration tests)
**Stage 'Integration tests' skipped due to when conditional**
[Pipeline] }
[Pipeline] // stage
[Pipeline] stage
[Pipeline] { (Perform

[2018-02-13 18:47] j-barber commented on #114
Behavior before change:
-DskipTests skips all tests:
![before skiptests](https://user-images.githubusercontent.com/23705265/36167528-41accb82-10c4-11e8-8d12-456d5a498ef0.PNG)

verify runs both UTs & ITs
[before.verify.txt](https://github.com/GalateaRaj/fuse-starter-java/files/1721180/before.verify.txt)

Behavior after change:
-DskipTests still skips all tests:
[after.skipTests.txt](https://github.

[2018-02-13 18:52] j-barber commented on #116
@GalateaEric says there's some delay between starting an app in CF and when the reverse proxies route traffic to the new instance. Kent got ITs working reliably by introducing some sleep time to the pipeline in between restarting the app on CF and running ITs.

From feature/issue-98-gradle looks like adding this as the first step in the Integration tests stage did the trick:

[2018-02-13 19:04] j-barber commented on #116
We'll know this works if Jenkins builds stop failing with this error:

testMissionCreation(org.galatea.starter.entrypoint.SettlementRestControllerIntegrationTest)  Time elapsed: 0.215 sec  <<< ERROR!
feign.FeignException: status 502 reading FuseServer#sendTradeAgreement(TradeAgreement[]); content:
502 Bad Gateway: Registered endpoint failed to handle the request.

	at feign.FeignException.errorSta

[2018-02-13 19:14] j-barber commented on #116
Not conclusive evidence this solves the problem, but the build related to this PR succeeded:

https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/view/change-requests/job/PR-121/1/console

[2018-02-13 19:46] j-barber opened #122 "Run unit tests only once per Jenkins build"
Jenkins builds run unit tests when
1. explicitly running unit tests (in the Unit Tests stage)
2. During Sonar analysis (in the SonarQube analysis stage)
3. In the Deploy stage
4. In the Integration tests stage

No need to keep running these tests -- cut back a bit. We may need to run unit tests during the sonar stage, and may want to explicitly run them in a separate Unit Test stage (for transpare

[2018-02-13 19:47] j-barber commented on #122
We should be able to add -Dskip.surefire.tests to the mvn command (once PR #118/Issue #114 gets merged).

[2018-02-13 22:13] j-barber commented on #117
Create a log4j2 config file that outputs all log msgs to stdout, and update the manifest-dev to specify that logging config file.

[2018-02-13 22:23] j-barber commented on #117
See screenshot for app logs now shown in CF:

![image](https://user-images.githubusercontent.com/23705265/36177073-8d663ed2-10e2-11e8-8d87-aaabfe738435.png)

[2018-02-14 14:17] j-barber opened #124 "Document caching behavior"
What does FUSE use caching for? How does it work? How is it configured? How/What do I modify for my needs?

[2018-02-14 15:49] j-barber commented on #63
Adding some evidence to the discussion:

Removing CachingConfig.java but keeping ehcache.xml continues to use ehCache and caches correctly.
This is the same behavior as leaving CachingConfig and ehcache.xml in place.

See here for a comparison of the beans that are actually instantiated in these two configurations:
[withoutCachingConfigWithEhCacheXml.txt](https://github.com/GalateaRaj/fuse-starter

[2018-02-14 15:50] j-barber commented on #63
This is a useful reference for Spring Caching: https://docs.spring.io/spring/docs/current/spring-framework-reference/integration.html#cache

And a reference for what Spring Boot adds:
https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-caching.html#_supported_cache_providers

[2018-02-14 16:07] j-barber commented on #63
Commit to remove CachingConfig checked in referencing issue #38... Whoops.

[2018-02-14 16:46] paulo-reichert commented on #63
Removing the CacheConfig also renders the spring-context-support dependency redundant and that can be cleared out of the POM.

[2018-02-14 18:57] paulo-reichert opened #127 "Remove fuse-starter-java.iml from project"
This file should be removed from GitHub and added to .gitignore. IntelliJ Idea will modify this file for various reasons during a normal session forcing constant recommits for no good reason. Each user can keep their own local version of this file and if for whatever reason it goes missing, just reopening the project from the pom.xml will create a fresh new one.

[2018-02-15 15:23] j-barber commented on #84
Confirmed -- unit test failures fail the build:
https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/job/feature%252Fissue-84-test-build-failure-scenarios/1/

[2018-02-15 15:24] j-barber commented on #84
Confirmed -- sonar quality gate failures fail the build:
https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/job/feature%252Fissue-84-test-build-failure-scenarios/2/console

![image](https://user-images.githubusercontent.com/23705265/36264279-56572998-123a-11e8-90b1-52575fa7472e.png)

[2018-02-15 15:29] j-barber commented on #84
Features left to implement/test from the original requirements are:
1. Trigger build automatically off of PR _[covered in new issue #115]_
2. Confirm checkstyle violations fail a build (do we need checkstyle given we have Sonar?) _[Decided we don't. Will remove under issue #135]_
3. Mark a build unstable if <X% code coverage (this would currently fail the build if the Sonar QualityGate for code co

[2018-02-15 16:16] j-barber commented on #82
Pictorially, how to configure SonarLint to use SonarCloud:

1. R-click on project -> 'SonarLint' -> 'Bind to SonarQube project'
![updatebinding](https://user-images.githubusercontent.com/23705265/36267145-33619cb4-1241-11e8-9488-64e453a62c11.PNG)

2. Click 'connect to a SonarQube server...'
![selectserver](https://user-images.githubusercontent.com/23705265/36267185-4c288ad2-1241-11e8-9bf3-e7d463a1

[2018-02-19 13:22] gala-lightfoot commented on #127
PR'd [here](https://github.com/GalateaRaj/fuse-starter-java/pull/129).

[2018-02-20 13:43] gala-lightfoot commented on #77
This isn't an issue as such.  Our log file prefix uses the date format: _yyyyMMddHHmm**ss**_, which as a result writes to a new log file every second.  I'll get this changed to do it on an hourly basis.

[2018-02-20 19:20] paulo-reichert commented on #39
I'm not sure there is an elegant way to use protobuf with Spring `@JmsListener` and `JmsTemplate`. The options I see for this are:

- Write a `ProtobufMessageConverter` that extends `MessageConverter`, but this is awkward as Protobuf does not lend itself to dynamic discovery of the message type (`Parser<MessageType>` being the brains here).
- Use `JmsListener` to receive a `byte[]` message and pas

[2018-02-20 20:22] paulo-reichert opened #132 "Split domain objects from public facing data contracts"
As a best practice we should not use the internal domain model as the public facing data contracts. All services should receive and respond with data contract classes and translate to/from internal domain model objects.

[2018-02-21 17:00] paulo-reichert opened #133 "Ignore generated code from SonarQube analysis"
Follow instructions here: https://docs.sonarqube.org/display/SONAR/Narrowing+the+Focus#NarrowingtheFocus-IgnoreIssues

[2018-02-21 17:05] paulo-reichert commented on #133
Also, set up exclusion policies to ensure code that does not need testing is not flagged in SQ.

[2018-02-21 21:18] #82 closed, assigned to j-barber, gala-dan

[2018-02-21 21:24] j-barber opened #134 "Add Code Owners"
Specify code owners (see: https://help.github.com/articles/about-codeowners/) and require at least 2 to approve PRs before merges are allowed.

To start, owners will be:
- Raj
- James
- Paulo
- Eric
- Firsh
- Heather
- Tighe
- Ari
- Danny

[2018-02-21 21:28] j-barber opened #135 "Remove Checkstyle check"
Sonar covers everything checkstyle would, so remove this from the build pipeline.

[2018-02-21 21:29] GalateaRaj commented on #134
If we decide to go with code owners, we'll have to update the GitHub Settings for the branch to require reviews from code owners.  Unfortunately, I don't know if we can require approval from AT LEAST 1 code owner or if ALL code owners are required to approve a PR.  We should definitely look into this as well.

Another option is to keep permissions as-is (i.e. at least 1 collaborator must approve t

[2018-02-21 21:30] j-barber opened #136 "Use an App account for GitHub/Jenkins integration"
Currently we use Danny's github account. Move to an AppBot account.

From the [Scan Repository Log](https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/indexing/console):
![image](https://user-images.githubusercontent.com/23705265/36614197-e3d47922-18a9-11e8-9726-16a50aa0f1c7.png)

And from build output:
![image](https://user-images.githubusercontent.com/23705265/36675543-503e5d74-1ad

[2018-02-21 21:32] j-barber opened #137 "Allow simultaneous PR builds"
Simultaneous PR builds will fail, since the push to CF and subsequent tests aren't sandboxed to the PR. Sandbox appropriately, and confirm that multiple PR builds can run at the same time.

[2018-02-21 21:34] j-barber opened #138 "Separate feature/PR/develop/master analysis in Sonar"
Currently there's no differentiation between these build types in Sonar, so a branch build could fail the Quality Gate, then a PR build will fix it, and this history doesn't make this clear.

Separate branch/PR/develop/master analysis.

[2018-02-21 21:35] j-barber opened #139 "Run performance tests in PR build"

[2018-02-21 21:36] #63 closed

[2018-02-21 21:45] j-barber commented on #134
"I don't know if we can require approval from AT LEAST 1 code owner or if ALL code owners are required to approve a PR. We should definitely look into this as well."

[This](https://help.github.com/articles/enabling-required-reviews-for-pull-requests/) shows "Require **an** approved review", so my guess is it requires at least 1. But we should verify..

![image](https://user-images.githubuserconte

[2018-02-21 21:58] #101 closed, assigned to nobody

[2018-02-21 21:59] GalateaRaj commented on #101
Will be covered by https://github.com/GalateaRaj/fuse-starter-java/issues/2

[2018-02-22 13:18] j-barber commented on #119
Integration tests now run on commit to develop.

See: https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/job/develop/11/consoleFull

Output:

[Pipeline] stage
[Pipeline] { (Integration tests)
[Pipeline] tool
[Pipeline] envVarsForTool
[Pipeline] withEnv
[Pipeline] {
[Pipeline] sleep
Sleeping for 1 min 30 sec
[Pipeline] sh
[jenkins-pipeline_develop-MKAUODLFQ2DAFL3DSUUVFIVYB4BWTT5NHJ3SD

[2018-02-22 13:18] #119 closed, assigned to j-barber

[2018-02-22 13:24] #117 closed, assigned to j-barber

[2018-02-22 13:26] j-barber commented on #116
Closing this issue -- pull request builds now succeeding reliably.

[2018-02-22 13:26] #116 closed, assigned to j-barber

[2018-02-22 13:31] j-barber commented on #84
Closing issue since most of the original points have been covered. A few other follow ups have spawned their own issues. (documented above).

[2018-02-22 13:31] #84 closed, assigned to j-barber, gala-dan

[2018-02-22 13:33] j-barber commented on #115
Update: Raj found the button that should fix this. Will re-check on the next PR.

[2018-02-22 13:51] paulo-reichert commented on #91
Can we have a bit more info on the goal here? Not sure why we'd want to log exceptions in one line.

[2018-02-22 13:58] paulo-reichert commented on #85
Do we want to show anything more than what is shown in `SettlementRestControllerIntegrationTest.java`?

Assuming we're using feign, is there any testable code to write?

[2018-02-22 14:01] paulo-reichert commented on #76
Not sure we should do this. Basic validation can be done using standard libraries and #106 covers that. Other validation can be argued whether it should be in generic libraries or application code.

[2018-02-22 14:06] paulo-reichert commented on #54
Is this the same or overlapping with #106?

[2018-02-22 14:09] j-barber commented on #85
Also, #23 and #85 are duplicates of each other. We should consolidate to one.

And agree w/ Paulo's question, anything left to show?

[2018-02-22 14:09] paulo-reichert commented on #23
I believe we like Feign over spring rest template and a good example of how to use it is available in `SettlementRestControllerIntegrationTest.java.`

[2018-02-22 14:11] paulo-reichert commented on #47
Closed following @gala-dan comment.

[2018-02-22 14:11] #47 closed

[2018-02-22 14:13] paulo-reichert commented on #42
There are unit tests for the `SettlementJmsListener` and `SettlementRestController`. Can we close this?

[2018-02-22 14:16] #22 closed

[2018-02-22 14:33] j-barber commented on #76
Also... why not do this? Is this no longer in fashion?

[code]

[2018-02-22 14:34] hstandring commented on #91
Our project currently uses the ELK stack for gathering logs and searching through them.  Exceptions that span multiple lines are difficult to find because they span across multiple documents (where only the first line of the stack trace has the trace id attached) and are not guaranteed to be written to elastic search in the same order as they were output.  Believe people have faced a similar issue

[2018-02-22 14:57] j-barber opened #141 "Increase SonarQube timeout"
The Jenkinsfile specifies waiting 1 minute for Sonar Analysis to response before aborting the build, but it looks like the analysis takes right around 60 seconds, causing builds to fail occasionally.

![image](https://user-images.githubusercontent.com/23705265/36545335-af3ab418-17b6-11e8-95bb-824a77bafbd2.png)

Up this threshold to 2min.
![image](https://user-images.githubusercontent.com/23705265/

[2018-02-22 15:06] j-barber commented on #115
Creation of PR #142 triggered a Jenkins build automatically.

![image](https://user-images.githubusercontent.com/23705265/36545849-df8fe4ac-17b7-11e8-99bb-fec03d21136a.png)

![image](https://user-images.githubusercontent.com/23705265/36545952-1bc51a6e-17b8-11e8-88da-8a029e51f9ca.png)

[2018-02-22 15:06] #115 closed, assigned to j-barber

[2018-02-22 15:11] #141 closed, assigned to j-barber

[2018-02-22 15:17] j-barber commented on #135
Build summary before change:
![image](https://user-images.githubusercontent.com/23705265/36546473-850c9316-17b9-11e8-9265-99eb8b771e4b.png)

Build summary after change (no more 'Checkstyle' step):
![image](https://user-images.githubusercontent.com/23705265/36546500-971e49e6-17b9-11e8-8e38-118302ed8694.png)

[2018-02-22 15:28] j-barber opened #143 "Allow simultaneous Jenkins builds"
Because the H2 db is configured to be backed by a file, and that file is static across builds, multiple Jenkins builds at the same time can interfere with each other over contention to the db.

[Example](https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/job/feature%252Fissue-135-remove-checkstyle/2/consoleFull):
![image](https://user-images.githubusercontent.com/23705265/36547122-18

[2018-02-22 15:55] j-barber opened #144 "Implement Issue template"
Would be great for all our issues to conform to a standard template, to help clarify:
- Issue Description
- Design
- Test results
- Validation post merge to Develop

Bonus points for having GitHub pre-populate this template for all issues.

[2018-02-22 15:58] j-barber commented on #144
Some documentation [here](https://github.com/blog/2111-issue-and-pull-request-templates) and [here](https://help.github.com/articles/creating-an-issue-template-for-your-repository/)

[2018-02-22 16:05] j-barber commented on #114
Evidence of fix in Develop (ignore the fact that the integration test failed, that's because the app isn't up on CloudFoundry):

![image](https://user-images.githubusercontent.com/23705265/36549244-449b7c00-17c0-11e8-88f1-c22b0d764d68.png)

[2018-02-22 16:05] #114 closed, assigned to j-barber

[2018-02-22 16:13] paulo-reichert opened #145 "Build conflicts when PR gets updated"
When a PR gets updated in GH it triggers two notifications to Jenkins that will in turn trigger two builds. These builds seem to conflict with each other with the second one failing the unit tests with the following:

https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/view/change-requests/job/PR-129/lastFailedBuild/testReport/junit/org.galatea.starter.entrypoint/SettlementJmsListener

[2018-02-22 16:14] #127 closed, assigned to gala-lightfoot

[2018-02-22 16:27] j-barber opened #146 "Failed Develop builds should raise some alerts"
A build failed after a merge to Develop, and was only noticed because we were looking at Jenkins.

Notifications should be sent out to someone... all collaborators?

[Example](https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/job/develop/14/)

[2018-02-22 16:31] paulo-reichert commented on #143
#145 duplicates this.

[2018-02-22 16:32] paulo-reichert commented on #145
Duplicate of #143

[2018-02-22 16:32] #145 closed, assigned to paulo-reichert

[2018-02-22 16:59] j-barber commented on #144
New issues now auto-populate with the template:
![image](https://user-images.githubusercontent.com/23705265/36552356-a9ff8102-17c7-11e8-8470-c276e98a10f0.png)

![image](https://user-images.githubusercontent.com/23705265/36552419-d6dcaaec-17c7-11e8-9e32-35887cb26c2f.png)

The template is defined in the "issue_template.md" file in the project root dir.

[2018-02-22 16:59] #144 closed, assigned to j-barber

[2018-02-22 17:02] paulo-reichert opened #148 "Fix IntelliJ Idea run config files"
Issue Description
--
Fix the run configuration files to have correct settings:
- VM arguments
- Entry point
- program arguments for app run config

Design
--
- Modify the Application.xml to be a Spring boot run config with the correct VM and program arguments.
- Create a JUnit test run config with the correct VM arguments

Test Evidence
--
[include relevant tests and output. Should be complete bef

[2018-02-22 18:55] paulo-reichert commented on #143
Moving to an in-memory database.

Before the change, running unit tests while an instance of the app is alive:
![image](https://user-images.githubusercontent.com/13468907/36558067-e6640d1a-17d7-11e8-8fec-0195e1e2ae2b.png)

After the change, running unit tests while an instance of the app is alive:
![image](https://user-images.githubusercontent.com/13468907/36558147-18b87440-17d8-11e8-97f1-c5b79dc9

[2018-02-22 20:13] paulo-reichert commented on #137
Seems like we can name an application in CF by specifying a unique [appName](https://docs.cloudfoundry.org/devguide/deploy-apps/deploy-app.html):

We can use tokens in Jenkins to specify a unique ID such as `${BUILD_NUMBER}` make the appName unique (https://wiki.jenkins.io/display/JENKINS/Cloud+Foundry+Plugin).

The caveat is that to do such a thing the application manifest needs to be specified i

[2018-02-22 20:48] #148 closed, assigned to nobody

[2018-02-22 21:04] paulo-reichert commented on #137
Another side-effect of the lack of sandboxing is that concurrent builds that deploy to CF are killing the fuse-rest-dev app and conflicting with another build at the integration tests stage, which will die with this error:

[code]

[2018-02-22 22:00] #135 closed, assigned to j-barber

[2018-02-23 01:26] #143 closed, assigned to paulo-reichert

[2018-02-23 09:18] gala-lightfoot commented on #36
Is it @'Poller' you want to be used, or @'Scheduled', as linked in the Spring guide?

@GalateaRaj

[2018-02-23 13:56] j-barber commented on #136
We'll need to create an AppBot account on GItHub, and [configure it in Jenkins](https://jenkins.fuse.galatea-associates.com/configure)
![image](https://user-images.githubusercontent.com/23705265/36598158-3a652f6a-1879-11e8-9b5f-fbab3550c630.png)

[and also here](https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/configure#):
![image](https://user-images.githubusercontent.com/23705265

[2018-02-23 13:59] GalateaRaj commented on #134
If we can require approval from AT LEAST 1 code owner, then I'm good to go with code owners.  You have my vote.

[2018-02-23 14:25] j-barber commented on #134
Raj + Me = approved. Moving forward.

1. Define a CODEOWNERS file w/ the referenced list of users
2. Get Raj to update the approval required for a PR to "require review from Code Owners"
3. Confirm it works.
4. Close issue.

[2018-02-23 14:37] paulo-reichert opened #152 "Run shutdown step always after build"
Currently the shutdown step is skipped if the integration tests fail. That means the PCF application will be left running. Run the cleanup afterwards regardless of integration tests completeness.

[2018-02-23 14:37] paulo-reichert commented on #152
We want a conditional step that checkes whether the deployment happened and was successful and if so performs the shutdown.

[2018-02-23 15:09] j-barber commented on #134
Added all code owners but Firsh, Alex, and Ari, because I couldn't find their git-hub handles.

[2018-02-23 15:22] j-barber commented on #134
Evidence of non code-owner unable to review:
![notcodeowner](https://user-images.githubusercontent.com/23705265/36601482-342c65dc-1883-11e8-8f72-12133458b31d.PNG)

Evidence of code-owner able to review:
![codeowner](https://user-images.githubusercontent.com/23705265/36601490-3b353296-1883-11e8-9de6-6885ff895c0f.png)

[2018-02-23 15:26] paulo-reichert opened #155 "Clean up manifest files"
Issue Description
--
After the changes for issue #137 both manifest-dev.yml and manifest-local.yml will remain unused. We need to decide what to do with those, whether they should remain in the codebase and if so, how do we actually use them (i.e. for manual pushes to PCF).

Design
--
Remove manifest-dev.yml, since the build process will be solely responsible for deploying to dev and higher enviro

[2018-02-23 15:33] j-barber commented on #134
Evidence of the update to include everyone named above as a Code Owner (paulo excluded b/c he raised the PR):
![image](https://user-images.githubusercontent.com/23705265/36602066-005b15bc-1885-11e8-9424-1c8385cd055c.png)

[2018-02-23 15:33] #134 closed, assigned to j-barber

[2018-02-23 15:34] GalateaRaj commented on #36
@Scheduled please.

We should also demonstrate bulk processing of multiple lines from a file.

[2018-02-23 15:42] GalateaRaj commented on #133
Lombok generated code is the primary use case for this.  Let's make sure we make it really clear how people can exclude that from the code coverage metric that is used in the quality gate.

[2018-02-23 15:45] j-barber commented on #139
Currently performance tests are not run as part of PR builds:
https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/view/change-requests/job/PR-154/3/consoleFull
![image](https://user-images.githubusercontent.com/23705265/36602674-99e5b330-1886-11e8-85b1-595578e9e377.png)

[2018-02-23 15:54] j-barber commented on #108
The contents of the original comment is duplicated by issue #133 and will be handled under that issue.

However, this issue should configure the JaCoCo plugin (or whatever needs to be configured) to allow the test report produced in the Unit Test build stage to be used in the Sonar Analysis build stage w/o needing to re-run the unit tests. See #122 for additional details.

[2018-02-23 15:55] j-barber commented on #122
Clarifying the approach, we will
1) Run tests during the Unit Test stage (so we fail a build if unit tests fail)
2) Run tests during the Sonar stage for coverage reports (see note below)
3) NOT run any tests in the Deploy stage (-DskipTests)
4) NOT run unit tests in the Integration Test stage (-Dskip.surefire.tests)

Note: Issue #108 should use the report output of the Unit Test stage as input to

[2018-02-23 16:02] j-barber commented on #36
By way of additional requirements, this should demonstrate:
1) watching a file location (local or remote) for a new file that matches some filename pattern
2) Validating the contents of the file (row count) vs. a footer
3) Passing each line on to a processor for the actual business logic
4) Handling of errors processing individual records (fail/rollback or continue)
5) Handling the case where proc

[2018-02-23 16:07] j-barber commented on #139
The build for this PR [ran performance tests](https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/view/change-requests/job/PR-156/2/consoleText):
![image](https://user-images.githubusercontent.com/23705265/36603730-ba7b1df8-1889-11e8-8488-1d4bdce3e67c.png)

[2018-02-23 16:07] #139 closed, assigned to j-barber

[2018-02-23 16:15] j-barber commented on #122
Behavior before change: 5 instances of T E S T (4 unit tests, 1 integration test).
https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/view/change-requests/job/PR-156/2/consoleFull

Evidence 5 test occurrences:
![before testcount 5](https://user-images.githubusercontent.com/23705265/36604060-adade190-188a-11e8-9f34-4393b94b7b9f.PNG)

The 4 Unit Test runs:
![before unitteststage](https

[2018-02-23 16:39] paulo-reichert commented on #137
Changes made:
- Moved the deployment manifest inline on the Jenkinsfile.
- Tokenized the appName to use the GIT commit number to create a unique application.
- Added the deletion of the application to the Shutdown stage of the build
- Added a parameter to the integration tests so that they run against the uniquely named instance

This will allow multiple PR deployments to happen in parallel.

[2018-02-23 16:48] j-barber commented on #122
After change: 3 instances of T E S T (2 unit tests, 1 integration test):
https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/view/change-requests/job/PR-157/1/consoleFull
![image](https://user-images.githubusercontent.com/23705265/36605499-e8a3af60-188e-11e8-8c19-9885178dd5ec.png)

The 2 Unit Test runs:
![image](https://user-images.githubusercontent.com/23705265/36605520-f672a88a-188e

[2018-02-23 16:48] #122 closed, assigned to j-barber

[2018-02-23 17:59] #137 closed, assigned to paulo-reichert

[2018-02-23 20:47] j-barber commented on #138
Investigate this plugin:
https://docs.sonarqube.org/display/PLUG/Branch+Plugin

And also look into this admin section:
https://sonarcloud.io/project/branches?id=org.galatea%3Afuse-starter-java

[2018-02-23 21:05] paulo-reichert opened #159 "Make jenkins checks for when to deploy, run integration tests, performance tests and shutdown consistent"
Issue Description
--
Right now the checks are different but we believe that the intention is the same so the check should be the same.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be complete before Review is approved]

Validation in Develop
--
[Proof issue i

[2018-02-23 21:16] #152 closed, assigned to nobody

[2018-02-23 21:28] j-barber commented on #138
Sonar differentiates between 'Long-lived' and 'Short-lived' branches, with different levels of analysis performed for each.

To instruct sonar what branch is being built, set the sonar.branch.name in the command to sonar:
[code]

Sonar then picks this up and tracks the branch based on the value of sonar.branch.name here:
https://sonarcloud.io/project/branches?id=org.galatea%3Afuse-starter-java
![i

[2018-02-23 21:33] j-barber commented on #138
'Short-lived' branch analysis looks like this:
![image](https://user-images.githubusercontent.com/23705265/36617943-51608ec4-18b7-11e8-9184-e08c5dcbba8b.png)

[2018-02-26 13:58] gala-lightfoot commented on #36
Requirements doc (editable): https://docs.google.com/document/d/1_08FirYWgw0Vlu6-CINOVmecuM5T8xv7N3uWuqFczsY/edit

[2018-02-26 15:02] j-barber commented on #138
TODO:

1. do we like the functionality of 'short lived' branches?
1.a we only get new bugs, vulnerabilities, and code smells
1.b we don't get coverage stats...
2. would we rather make PRs long-lived, and stomach the manual deletion of them?
2.a We'd get proper quality gate reporting, including coverage
2.b BUT, the quality gate is at the project level, not just for new code, so not incredibly help

[2018-02-26 15:25] j-barber commented on #138
'Short Lived' branch analysis output below. The Sonar Analysis stage in the jenkins build fails due to this. But no test coverage...

![image](https://user-images.githubusercontent.com/23705265/36678649-4fd10bc2-1adf-11e8-8753-1e8661e70895.png)

[2018-02-26 16:36] j-barber commented on #138
First, some background.
Sonar defines 'short-lived' and 'long-lived' branches. See [here](https://docs.sonarqube.org/display/PLUG/Branch+Plugin) for details.

Short lived branches pass analysis if and only if:
  new_bugs = 0
  new_vulnerabilities = 0
  new_code_smells = 0
**N.B. code coverage is not a factor!**

Long-lived branches pass analysis based on the quality gate defined.
**N.B. Success/fa

[2018-02-26 17:17] #76 closed

[2018-02-26 17:43] j-barber commented on #136
Some links for reference:
[WTF is a 'Bot Account'?](https://stackoverflow.com/questions/29177623/what-is-a-bot-account-on-github)

[How to manage deploy keys](https://developer.github.com/v3/guides/managing-deploy-keys/)

https://developer.github.com/apps/differences-between-apps/: "A GitHub App can act on its own behalf, taking actions via the API directly instead of impersonating a user, which m

[2018-02-26 18:09] GalateaEric commented on #138
When you say Sonar deletes short-lived branches automatically after 30 days, does that mean they're deleted in Git as well, or just in Sonar?

I would be a proponent of more automatic deletion (ie, mark PR branches as short lived as well).  Generally I've found any branch that isn't being actively worked on is just clutter.  I have yet to encounter a single case where work done in a branch months

[2018-02-26 18:10] paulo-reichert commented on #138
My 2¢:
- Configure all new branches and PRs as short-lived branches and live with the limitations of SQ not checking code coverage for them.
- Review tests during code review to gauge whether coverage is adequate.

The caveat here is that a short-lived branch that passed the SQ checks may still fail the quality gate when merged back into develop. That sucks and we may have to deal with it manually

[2018-02-26 18:12] paulo-reichert commented on #138
@GalateaEric this is only for SonarQube. It will not delete the branch from GIT.

Otherwise, I agree with your comments that a branch that has been merged back in develop has no value and should be deleted. I can live with branches that have not been merged hanging around but even then within reason. If it has been untouched for over 1 year while there have been tens of pull requests merged back i

[2018-02-26 18:59] #159 closed, assigned to paulo-reichert

[2018-02-26 19:03] j-barber commented on #138
I'm going to treat both feature and PR builds as 'short-lived' for now, then.

For future reference, if we want to treat PR builds as long-lived, update the definition here:
https://sonarcloud.io/project/branches?id=org.galatea%3Afuse-starter-java

To:
Long living branches pattern: (develop|PR-.*)

[2018-02-26 19:04] paulo-reichert commented on #108
Before change:
[code]
After change:
[code]

[2018-02-26 19:34] j-barber commented on #136
Create a GitHub app following these instructions: https://developer.github.com/apps/building-github-apps/creating-a-github-app/

[2018-02-26 20:07] #138 closed, assigned to j-barber

[2018-02-26 20:53] paulo-reichert commented on #108
Rationalized the maven goals triggered in each stage to only the ones necessary. This now ensures that each step is performed only once per build.

[2018-02-26 21:01] paulo-reichert commented on #108
Run after reconfiguring the build:
![image](https://user-images.githubusercontent.com/13468907/36694826-85789c6c-1b0d-11e8-940e-809dcb814b22.png)

[2018-02-26 21:10] #108 closed, assigned to paulo-reichert

[2018-02-27 11:21] gala-lightfoot commented on #14
https://github.com/GalateaRaj/fuse-starter-java/pull/130

[2018-02-27 13:05] paulo-reichert commented on #14
One example of an exception that we could handle to provide a more friendly user message is this:

[code]

It's thrown when an invalid 'TradeAgreement' is sent to the service. While the status and error are ok, the exception name and the message could be improved to something that is more application specific.

The exception handler should also have hooks for other exceptions that may happen in ot

[2018-02-27 13:14] paulo-reichert commented on #77
The issue doesn't seem to appear on my machine with the latest version of the code in develop:
![image](https://user-images.githubusercontent.com/13468907/36730749-8a4eb6a2-1b96-11e8-97f2-684a927d708e.png)

This is as of commit d1f90a9868661e302ad39ca730c84e7e21b194cb.

[2018-02-27 13:21] gala-lightfoot commented on #77
It doesn't happen reliably.  Start/stop the app a couple more times and I imagine you'll see the behaviour above.

[2018-02-27 13:29] paulo-reichert commented on #146
I'd suggest we send emails to the person that committed the code and the code owners, as all collaborators could potentially be the whole of Galatea, but I'm open to suggestions.

[2018-02-27 13:30] GalateaRaj commented on #146
Can we use slack for this?  Notify the slack channel (#fuse-java-builds) that the build has failed as well as the individual.

[2018-02-27 13:35] paulo-reichert commented on #36
Probably worth a look at this: https://docs.spring.io/spring-integration/reference/html/files.html

Also, maybe: https://docs.spring.io/spring-batch/trunk/reference/html/springBatchIntegration.html

[2018-02-27 13:41] paulo-reichert commented on #146
![image](https://user-images.githubusercontent.com/13468907/36731870-0be005ec-1b9a-11e8-9de9-4bc4a77f15b0.png)

[2018-02-27 13:49] paulo-reichert opened #164 "Rationalize Slack build notifications"
Issue Description
--
From Raj:
can we reduce the amount of traffic that gets posted to that slack channel (either part of this issue or another)?  Something like...
-- Branch builds --> notify the commiter via slack for success and fail (nothing in #fuse-java-builds )
-- PR builds -->  notify the commiter via slack for success and fail (nothing in #fuse-java-builds )
-- Everything else --> notify

[2018-02-27 13:50] GalateaRaj commented on #77
Is this less of an issue since we are going 12-factor (which says that we should log to stdout)?

[2018-02-27 14:01] j-barber opened #165 "Update issue template description"
Issue Description
--
[Description of the issue. Should be complete before Review is approved]

The current description help is:
[Description of the issue. Should be complete before Review is approved]

It would be good to explicitly suggest to include an example of the current behavior and a description of the desired behavior. Something like this:
[Description of the issue, with example/screensho

[2018-02-27 14:24] j-barber commented on #77
Many of the apps we develop will still want/need to log to a filesystem (rather than ELK-like stack or Splunk), right? If so, worth leaving the config as an illustrative example?

[2018-02-27 14:36] paulo-reichert commented on #77
I think we should show both options as I agree with @j-barber that most apps we deal with will still require file-based logging.

[2018-02-27 14:39] #165 closed, assigned to j-barber

[2018-02-27 14:40] j-barber commented on #14
This issue is duplicated by #18.

[2018-02-27 14:40] j-barber commented on #18
Closing as duplicate of #14

[2018-02-27 14:40] #18 closed

[2018-02-27 14:43] j-barber commented on #6
Duplicated by issue #27

[2018-02-27 14:43] j-barber commented on #27
Duplicate of issue #6.

[2018-02-27 14:43] #27 closed

[2018-02-27 15:41] paulo-reichert commented on #164
I will address #146 and this one together with a single branch.

[2018-03-01 15:28] gala-lightfoot commented on #36
Spring Integration offers out-of-the-box support for directory scanning (with regex filtering and new file monitoring), polling every _n_ seconds and also transactional handling of files (with rollback actions).  This route would **not** be utilising @Scheduled (but instead an IntegrationFlow using a Poller).

If we go down the Scheduled route, we'd have to implement the boilerplate for directory

[2018-03-02 14:25] j-barber opened #167 "Demonstrate performance tests as part of CI pipeline"
Issue Description
--
[Description of the issue, with example/screenshot. Description of what the desired behavior should be. Should be complete before Review is approved]

Currently there's a Jenkins stage for running performance tests, but no tests defined.
We should show how to configure performance tests (and highlight what sort of tests are useful), have them run during builds, and have failur

[2018-03-02 14:37] gala-lightfoot commented on #77
I put Log4j into debug mode and pulled out some of the logs to see what's going on under the hood.

On the occasions we get **two** sets of log files from startup, the above snippet is seen. It shows the RollingFileManager shutting down for each newly created log file (before Spring has started).  I assume this shutdown forces new log files to be created (with a new file name, hence the second set

[2018-03-02 16:11] j-barber opened #168 "Stop github integration w/ Jenkins instance on Mystique"
Issue Description
--
[Description of the issue, with example/screenshot. Description of what the desired behavior should be. Should be complete before Review is approved]

Occasionally GitHub reports a build as failing, but then gets that report from Mystique:
![image](https://user-images.githubusercontent.com/23705265/36908839-7494326c-1e0a-11e8-9ce8-6e0b55e373fa.png)

We should sever the connect

[2018-03-02 16:14] j-barber commented on #168
@GalateaRaj -- is there some configuration in GitHub to send messages to Mystique for new branches/pull requests?

[2018-03-02 18:24] j-barber commented on #136
Going to use Raj's account

[2018-03-02 18:48] j-barber commented on #136
Going to just convert to using Raj's account.

1. Define new User/Pwd credentials for GalateaRaj, using an authentication token, here:
https://jenkins.fuse.galatea-associates.com/configure

2. Confirm Raj's account used when scanning repo:
https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/indexing/console
![image](https://user-images.githubusercontent.com/23705265/36916374-b2eb1424-

[2018-03-05 13:06] j-barber opened #169 "Use app account to start instances on CF from Jenkins"
Issue Description
--
[Description of the issue, with example/screenshot. Description of what the desired behavior should be. Should be complete before Review is approved]

Jenkins uses Danny's CF account to start/stop instances on Cloud Foundry. We should use a generic app id.

![image](https://user-images.githubusercontent.com/23705265/36684776-655ec0c8-1aef-11e8-82ac-139014ac6cf8.png)

The crede

[2018-03-05 13:07] #136 closed, assigned to j-barber

[2018-03-05 13:12] j-barber commented on #52
Why do we want to write to stdout/stderr synchronously? When running in the cloud all logs will be written synchronously (since all logs are routed to stdout) -- doesn't that affect performance?

Is the main desire to write synchronously to avoid dropping logs as an app is dying, complicating RCA?

[2018-03-05 14:00] paulo-reichert opened #170 "Notify committer of failed builds via email"
Issue Description
--
There is no easy way to notify a committer via Slack that his/her commit broke the build. I suggest using emails for that.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be complete before Review is approved]

Validation in Develop
--
[Proo

[2018-03-05 14:40] #146 closed, assigned to nobody

[2018-03-05 14:48] #164 closed, assigned to nobody

[2018-03-05 15:02] paulo-reichert commented on #133
Need to check whether this is still necessary. We have updated the jacoco maven plugin to version 0.8 (#108) and that should exclude from the coverage reports any code that is annotated with `javax.annotation.Generated` and `lombok.Generated`. SonarQube uses the jacoco reports to calculate code coverage and should therefore not need any extra configuration to get that done.

[2018-03-05 20:06] paulo-reichert commented on #85
Closing this as we don't know whether there's anything worth illustrating at this point.

[2018-03-05 20:06] #85 closed, assigned to gala-dan

[2018-03-05 21:34] #169 closed, assigned to j-barber

[2018-03-06 10:16] gala-lightfoot commented on #36
An [example](https://xpadro.com/2016/07/spring-integration-polling-file-creation-and-modification.html) of file polling using Spring Integration.

[Here's](https://github.com/GalateaRaj/fuse-starter-java/blob/172704d1778061429b8fed8dd4eca605d42a09a7/src/main/java/org/galatea/starter/entrypoint/SettlementFilePoller.java) a code example of how it would look in FUSE.

[2018-03-06 10:26] gala-lightfoot commented on #170
It has become apparent Jenkins has issues mapping from email addresses to user accounts.

https://stackoverflow.com/questions/45350740/jenkins-email-plugin-doesnt-send-email-to-user-who-broke-the-build

In our case, unless email prefixes match Git usernames, it will refuse to send the email (i.e. if your email is foo@bar.com, then your Git username must be foo).

A workaround is to enable _-Dhudso

[2018-03-06 12:57] paulo-reichert commented on #54
Closing as duplicate of #106.

[2018-03-06 12:57] #54 closed

[2018-03-06 13:54] j-barber commented on #52
Removing the async appender from log4j2-stdout.yml so logs are written directly to sysout (rather than asynchronously).

[2018-03-06 14:11] #52 closed

[2018-03-06 14:30] paulo-reichert commented on #98
Starting a new branch to address this as there are too many conflicts in the jenkinsfile. Will use the branch that Eric left behind as reference.

[2018-03-06 14:40] gala-dan commented on #98
It would be useful to maintain a "shadow" Maven Jenkins file. For better or worse we will still work on a number of Maven based projects in the future, so having a "MavenJenkinsfile" would be helpful.

[2018-03-06 15:46] #14 closed

[2018-03-06 17:25] paulo-reichert commented on #92
Closing this as the work done in #14 seems to cover what was discussed above.

[2018-03-06 17:25] #92 closed, assigned to nobody

[2018-03-06 17:27] paulo-reichert commented on #42
Closing as it seems like we already have tests for those.

[2018-03-06 17:27] #42 closed

[2018-03-06 17:29] paulo-reichert commented on #17
This seems to overlap with #58 and they should be addressed together.

[2018-03-07 15:51] j-barber commented on #91
Can this issue be updated to clarify what files

[2018-03-07 17:17] gala-lightfoot commented on #91
Do we want this applied to all logs, or just to a subset (such as to the error log file), to act as an example?

[2018-03-07 20:36] GalateaRaj commented on #170
See note in slack

[2018-03-07 21:22] GalateaRaj commented on #167
https://dzone.com/articles/gatling-vs-jmeter

That convinced me that gatling is the way to go.

[2018-03-08 02:00] GalateaRaj commented on #170
Per my slack post, I think we can put this one on hold for now.

[2018-03-08 02:08] GalateaRaj opened #175 "Allow enforce coding standards on Sonar"
Issue Description
--
We want to ensure all FUSE developers are following FUSE coding standards (e.g. final modifiers on method params, using a certain import order, using certain spacing, putting curly brackets in the right place).  We can achieve that in two parts:

1.  Providing IDE tools to help implement our standards.  These are stored here for Eclipse:  https://github.com/GalateaRaj/fuse-set

[2018-03-08 19:27] j-barber commented on #175
Currently our Sonar configuration uses the ["SonarWay" Quality Profile](https://sonarcloud.io/organizations/default/rules?activation=true&qprofile=java-sonar-way-45126).
![image](https://user-images.githubusercontent.com/23705265/37171717-c8f9b8be-22dc-11e8-85e5-72fbdf5d4ccd.png)

Anything failing one of the rules configured there does cause Sonar to complain.

However, there are rules we should e

[2018-03-08 19:41] j-barber commented on #175
We previously disabled checkstyle, reasoning that Sonar covers everything checkstyle might.

If we find that not to be the case, we can re-enable the checkstyle step in the Jenkins build to call checkstyle:check.

However we'll have to update the default google checks we were using, since those also don't validate that javadoc exists, nor that method params are final.

![image](https://user-images

[2018-03-08 20:16] hstandring commented on #133
Just an observation, but I was doing some investigation on this and it doesn't seem like sonar supports the ability to exclude code from metrics based on the annotation yet.  It does allow you to exclude it from issues, but there's an outstanding jira to exclude from metrics https://jira.sonarsource.com/browse/SONARJAVA-2223

[2018-03-08 21:58] j-barber commented on #175
To update the quality profile we use we need to migrate out of the OpenSource organization. Since we're not admins of that org we can't update/change quality profiles or quality gates.

In my own org (where I am an admin) I have the option of creating a new Quality Profile, which I can then adjust:
![image](https://user-images.githubusercontent.com/23705265/37178939-fce4e3e6-22f1-11e8-868a-c077840

[2018-03-08 22:41] hstandring commented on #133
@paulo-reichert in regards to your point above, note that the exclusion of autogenerated code occurs during report generation.  The jacoco .exec file will contain metrics for everything so the systems that generate the reports off of this need to know to exclude this code.  This should work if our sonar has been upgraded to use the 5.1 version of the SonarJava plugin.

Reference: https://stackover

[2018-03-09 14:10] j-barber opened #176 "Decide/Configure coding standards"
Issue Description
--
Issue #175 covered updating Sonar to allow us to configure Quality Profiles and Quality Gates.
This issue covers deciding what coding standards to enforce, and actually enforcing them.

All Java rules Sonar knows about are here:
https://sonarcloud.io/organizations/default/rules?languages=java

All Java rules currently in the Sonar Way are here:
https://sonarcloud.io/organizati

[2018-03-09 14:44] j-barber commented on #176
Proposals (Edit this post):

| Rule to add | For | Against |
| --- | --- | --- |
| [Keep exception cause](https://sonarcloud.io/organizations/default/rules?activation=false&languages=java&open=squid%3AS1166&qprofile=java-sonar-way-45126) | James, Paulo, Eric, Danny, Sam |  |
| [Require Javadoc on public APIs](https://sonarcloud.io/organizations/galatea/rules?languages=java&open=squid%3AUndocumente

[2018-03-09 14:46] #175 closed, assigned to j-barber

[2018-03-09 19:09] j-barber opened #179 "Decide/Configure Quality Gates"
Issue Description
--
[Description of the issue, with example/screenshot. Description of what the desired behavior should be. Should be complete before Review is approved]

The standard Sonar Way quality gate is pretty permissive.
https://sonarcloud.io/organizations/galatea/quality_gates/show/9
![image](https://user-images.githubusercontent.com/23705265/37225080-7e9ea0c8-23a3-11e8-9631-c1783e3822ee

[2018-03-09 19:25] GalateaEric commented on #176
I think i'm against requiring javadocs, only because I feel like requiring it leads to these very mechanical javadocs that people slap on there to get it to compile.  Legitimately I think a lot of methods don't actually deserve/need/require a javadoc.  However, some do, but it's too difficult to come up with a blanket rule of when to provide one and when not to provide one that I'd rather err on t

[2018-03-09 19:33] paulo-reichert opened #180 "Create documentation on a Google Doc to cover thought process and design in Fuse"
Issue Description
--
Right now our README.md is very high level. Going forward, that file should become only a description of how to get started with Fuse (set up IDE and get the application to run). We need documentation on a Google Doc that covers the decisions around the code, e.g. why did we use the annotations we did in the domain objects.

The Google Doc should be pinned to the #tech-java ch

[2018-03-09 19:50] mbarber-gala commented on #180
I think we have to be invited to collaborate on the project. Trevor is GalateaTrevor

[2018-03-12 10:48] GalateaRaj commented on #176
I'd like Sonar to ensure we are adhering to the Google style guide (including javadocs).  Has anyone done a rec between the google guide and the sonar way to see if there are gaps that need to be covered by another tool.

In addition to the Google guide, I'd like to require final method parameters and a specific import order.

[2018-03-12 13:11] GalateaRaj commented on #179
Skipped Unit tests = 0
No blocker, critical, or major issues
Add technical debt = 0
New code smells = 0

[2018-03-12 13:14] GalateaRaj commented on #91
Should this still have decision needed?  I thought @hstandring provided input.

[2018-03-12 13:20] GalateaRaj commented on #36
SI seems really complicated for something as simple as reading a file.  SI might make sense if your app is built around SI.   In our use case, I wonder if this is a better option:  https://docs.oracle.com/javase/tutorial/essential/io/notification.html

[2018-03-12 14:32] mbarber-gala commented on #180
https://docs.google.com/document/d/1EqvSfrKaQa6zBF8QRjWMZeOifMZsl-jwCxCmhC2Q8S8/edit

[2018-03-12 16:00] j-barber commented on #69
Closing as duplicative of issue #176

[2018-03-12 16:00] #69 closed

[2018-03-12 16:06] j-barber commented on #176
I didn't accurately represent the rule I was supporting when I described it as "Require Javadoc". The rule is more accurately described as "Public types, methods and fields (API) should be documented with Javadoc".

@GalateaEric's point that "a lot of methods don't actually need ... javadoc" is a fair one, but can we agree that public methods do? Is there less pushback against this rule?

[2018-03-12 18:24] j-barber commented on #176
The Google style guide is described here: https://google.github.io/styleguide/javaguide.html

We can ensure compliance with this guide by re-enabling a checkstyle check. Sonar and the Google style guide do not check all of the same things, so the only way to ensure compliance w/ the Google style guide is with Checkstyle.

However, even the google style guide doesn't enforce javadoc on classes (des

[2018-03-13 12:35] j-barber commented on #36
Will the WatchService work with remote FTP locations?

[2018-03-13 12:48] gala-lightfoot commented on #36
It doesn't.  The suggestion for polling FTP locations appear to be [rdp4j](https://github.com/drapostolos/rdp4j/wiki/User-Guide) or using a SI FTP Inbound Channel adapter.

Is this something we need?

[2018-03-13 14:15] j-barber commented on #179
Updated:
![image](https://user-images.githubusercontent.com/23705265/37347110-793e8af6-26a7-11e8-9288-baa3906194f4.png)

[2018-03-13 15:55] #179 closed, assigned to j-barber

[2018-03-14 16:44] alex-power commented on #168
Link to Mystique Jenkins: [https://mystique:444/jenkins](https://mystique:444/jenkins)
Removed the Github source from the Jenkins repo.
![image](https://user-images.githubusercontent.com/25554707/37416739-fd786ab6-2784-11e8-9bb5-45512255978b.png)

The Jenkins repo was left intact, and the name was changed for clarity.
![image](https://user-images.githubusercontent.com/25554707/37416897-624fa8d2-27

[2018-03-14 17:13] #168 closed, assigned to alex-power

[2018-03-15 12:13] paulo-reichert commented on #176
When we enforced javadocs in Java or similar in C# in the past we ended up with people brainlessly adding comments. Worse yet, in Visual Studio there is a tool to generate skeleton docs for C# code that people would just use to not fail code style checks but not fill with any useful info.

An example of that is `public class SettlementMission`: what javadoc would add value in that class declaratio

[2018-03-15 12:34] paulo-reichert opened #182 "Rationalize lombok annotations"
Issue Description
--
Would be good to rationalize the lombok annotations we are currently using: they should make it clearer to the reader what the annotations mean and why they are placed in the code.

`@Data` (https://projectlombok.org/features/Data) is a shortcut for `@Getter`, `@Setter`, `@ToString` and `@EqualsAndHashCode` so whenever we use that combination (i.e. domain objects) we should re

[2018-03-15 14:41] GalateaEric commented on #176
It's a tricky one...  A good javadoc in the right place is worth it's
weight in gold, but I believe a useless javadoc has negative value in that
it leads to a macro cognitive devaluation of javadocs in the minds of
developers working in the code base.

So, I don't like a blanket rule to require javadocs because I think in a
number of cases no javadoc is better than a skeleton/perfunctory javadoc.

[2018-03-15 18:21] alex-power commented on #9
My current plan is to add documentation on how to set up your workspace correctly with checkstyle, google save actions, and import order. Then, we would enforce the style using the maven plugin that is already defined in pom.xml, which can be run using mvn checkstyle or made a part of the build process.

The checkstyle plugin for Eclipse and IntelliJ use google styles by default, which is the same

[2018-03-15 19:15] alex-power commented on #182
From the `@Builder` documentation: "You may not put any other method (or constructor) generating lombok annotation on a builder class though; for example, you can not put `@EqualsAndHashCode` on the builder class." Yet, we do it in more than one class..
Also, When you remove both `@AllArgsConstructor` and `@NoArgsConstructor` from an `@Builder` class, the jackson json parser fails (it needs a defa

[2018-03-16 12:05] gala-lightfoot opened #183 "Enforce immutability on TradeAgreement and SettlementMission"
Issue Description
--
Add the Lombok [@**Value** ](https://projectlombok.org/features/Value)annotation to TradeAgreement and SettlementMission to enforce immutability.

Once generated/received into the system, their state should never change.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include releva

[2018-03-16 12:15] paulo-reichert opened #184 "Choose database solution"
Issue Description
--
We have to choose a database solution for fuse. Options are:
- Google SQL database (at a cost)
- Google Storage (object based, at a cost)
- Pivotal ElephandSQL (has a free tier) - https://www.elephantsql.com/docs/index.html
- Pivotal ClearDB MySQL (has a free tier) - http://w2.cleardb.net/faqs/

There may be other options available. Worth doing some research.

Design
--
[Descr

[2018-03-16 12:17] paulo-reichert opened #185 "Create HAL database"
Issue Description
--
Design a database model for storing HAL and MetWith commands and responses.

This database has to be flexible enough to support any format questions and responses. Also should be fairly human readable.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output

[2018-03-16 12:19] paulo-reichert opened #186 "Create HAL REST endpoint"
Issue Description
--
Create a REST controller for accepting HAL commands. This endpoint needs to accept a natural language command.

Design
--
The HAL controller can contain multiple endpoints but should only interact with the HAL service. The HAL service should coordinate any interactions with other services that are required.

The endpoint should consume text since it needs to accept a natural l

[2018-03-16 12:20] paulo-reichert opened #187 "Create HAL websockets endpoint"
Issue Description
--
Create a websockets controller to communicate with Slack's real-time or event-driven API. This controller must accept natural language queries.

https://api.slack.com/rtm

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be complete before Rev

[2018-03-16 12:21] paulo-reichert opened #188 "Create a HAL service"
Issue Description
--
Create a service to be used by all controllers to process HAL commands.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be complete before Review is approved]

Validation in Develop
--
[Proof issue is resolved in Develop. Should be complete

[2018-03-16 12:23] paulo-reichert opened #189 "Write a Wit.ai natural language processor"
Issue Description
--
We use [wit.ai](https://wit.ai) to process natural language commands. Create an interpreter that given a natural language command can submit it to the service and return the highest confidence response.

Example of interacting with wit.ai can be found in the Python [HAL codebase](https://github.com/GalateaRaj/galatea-hal).

Wit.ai HTTP API reference: https://wit.ai/docs/http/2

[2018-03-16 12:25] paulo-reichert opened #190 "Implement data access"
Issue Description
--
Implement a data access layer for interacting with the HAL database. This should allow for querying all database entities in a scalable and flexible manner while using best practices.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be comple

[2018-03-16 12:33] paulo-reichert opened #191 "Plan migration of REST HAL functionality to Java"
Issue Description
--
Currently HAL REST functionality is implemented [here](https://docs.google.com/spreadsheets/d/1uPDhdrcD6pFP150XhA-DJ-GIRMF1jVXZ_VJHmppLag4/edit?usp=sharing). When Slack queries Google scripts using the /metWith or /hal bindings, Google reads the corresponding command in the spreadsheet and returns the response associated with that request text.

All of HAL commands should be n

[2018-03-16 12:43] paulo-reichert commented on #182
2 things there:
- When it says that you may not put any other method (or constructor) generating annotation on a builder class, it refers to the builder itself, not the class that is annotated with `@Builder`. Our use case is still valid.
- The issue with the constructors is an interesting one. That information explaining why we specify the two constructor annotations should go in the GDoc that @m

[2018-03-16 13:16] paulo-reichert opened #192 "Review Pivotal Web Services tier"
Issue Description
--
We currently use [Pivotal Web Services](https://run.pivotal.io/) to deploy and run Fuse. As we plan to turn the new HAL implementation in Fuse into a production application running continuously we need to identify the best hosting environment.

Questions to be answered are primarily:
- Can we do websockets in PWS?
- What is the price?
- Databases

#### Websockets
PWS seems to

[2018-03-16 15:10] mbarber-gala opened #193 "Current App Config not working with Community edition of Intellij"
Issue Description
--
After pulling the Fuse project into Intellij, the Application Configuration is not recognized by the Community edition of Intellij and the project cannot be run successfully. If you attempt to run this configuration, Intellij displays the error: "Error running 'Application': Unknown run configuration type SpringBootApplicationConfigurationType"

When the Edit Configurations wi

[2018-03-16 19:40] mbarber-gala commented on #193
Verified this with @GalateaTrevor on his computer

[2018-03-19 12:48] paulo-reichert opened #194 "Set up Beep Beep Boop deployment"
Issue Description
--
Beep Beep Boop is a hosting service for bots. We should check how to deploy HAL to Beep Beep Boop.

https://beepboophq.com/docs/article/overview

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be complete before Review is approved]

Validati

[2018-03-19 13:01] #194 closed, assigned to nobody

[2018-03-19 13:02] paulo-reichert commented on #194
Scrap this. Will use PWS for hosting the bot.

[2018-03-19 13:13] paulo-reichert opened #195 "Use Cucumber tests with a DSL for testing REST APIs"
Issue Description
--
https://cucumber.io/

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be complete before Review is approved]

Validation in Develop
--
[Proof issue is resolved in Develop. Should be complete before Issue is closed]

[2018-03-19 13:15] paulo-reichert commented on #91
Looks all good.

[2018-03-19 13:15] #91 closed, assigned to gala-lightfoot

[2018-03-19 13:36] mbarber-gala commented on #193
Merged - https://github.com/GalateaRaj/fuse-starter-java/pull/196

[2018-03-19 13:36] #193 closed, assigned to mbarber-gala

[2018-03-19 14:33] paulo-reichert opened #197 "Update issue template to add documentation section"
Issue Description
--
Add a section where developers can detail changes required to the documentation.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be complete before Review is approved]

Validation in Develop
--
[Proof issue is resolved in Develop. Should be

[2018-03-19 15:32] #106 closed, assigned to gala-lightfoot

[2018-03-19 17:37] #197 closed, assigned to paulo-reichert

[2018-03-19 18:29] paulo-reichert commented on #176
After a group discussion, we are moving forward with enforcing all rules listed in the table above, incl. requiring javadocs for all public API.

[2018-03-19 20:14] j-barber commented on #176
Did I miss a group discussion?

On Mon, Mar 19, 2018 at 2:29 PM paulo-reichert <notifications@github.com>
wrote:

[2018-03-20 01:18] GalateaRaj commented on #192
Let's go with 1 instance in prod for now.  No need for DR.  $21/month is totally fine.

I assume QA doesn't need to run continuously and that we can bring it up and down on an adhoc schedule.  That should help offset some of that cost.

Dev is fine.  As you point out, pretty cheap.

[2018-03-20 01:59] GalateaRaj commented on #195
I'm looking to establish a DSL on top of cucumber for testing the behavior of REST APIs (independent of their functional domain).

Within the context of the REST DSL:
The "Given" expressions help set up the HTTP request to be performed
The "When" expression tells mockmvc (or resttemplate in the future for integration testing) to perform the request
The "Then" expressions validate the response

Not

[2018-03-20 10:34] GalateaRaj commented on #183
I can understand why an agreement might be immutable although I would argue that per Galatea training, even an agreement can be cancelled.

But a mission definitely has a life cycle. How would
we settle a mission if it is immutable?  I know that fuse doesn't have a function to manage mission lifecycle at the moment but that's a key part of a mission's purpose.

[2018-03-20 12:44] paulo-reichert commented on #195
We should have a look at Groovy's for DSL authoring: http://www.groovy-lang.org/

[2018-03-20 12:46] paulo-reichert commented on #192
Agree on all accounts. Will our tier upgraded and payment info set up.

[2018-03-20 13:20] GalaFirsh commented on #195
Maybe can use this?
**cukes-rest**:  _Cucumber DSL for testing RESTful Web Services_
https://github.com/ctco/cukes

[2018-03-20 16:28] GalateaRaj commented on #195
Yeah.  I came across that but it's not approved for use at some clients .

[2018-03-20 17:18] gala-dan commented on #183
Following functional principles, wouldn't we simply create a new mission with a new state?

[2018-03-20 20:28] mbarber-gala opened #200 "Create Fuse documentation - Lambdas and when to use them"
Issue Description
--
Document when to use Lambdas in the Fuse documentation. ~https://docs.google.com/document/d/1EqvSfrKaQa6zBF8QRjWMZeOifMZsl-jwCxCmhC2Q8S8/edit#~

*update the README

[2018-03-20 20:29] mbarber-gala commented on #200
I found this resource. http://www.baeldung.com/java-8-lambda-expressions-tips

[2018-03-20 20:32] mbarber-gala opened #201 "Create Fuse documentation - Lombok"
Issue Description
--
What annotations should be used for:
Functions
Mutable entities
Immutable entities
Other components and services

https://docs.google.com/document/d/1EqvSfrKaQa6zBF8QRjWMZeOifMZsl-jwCxCmhC2Q8S8/edit#

[2018-03-20 20:34] mbarber-gala opened #202 "Create Fuse documentation - Custom exceptions"
Issue Description
--
When and how to use custom exceptions.  Update the README.

~https://docs.google.com/document/d/1EqvSfrKaQa6zBF8QRjWMZeOifMZsl-jwCxCmhC2Q8S8/edit#~

[2018-03-20 20:35] mbarber-gala opened #203 "Create Fuse documentation - Galatea Coding Standards"
Issue Description
--
Complete documentation on what Galatea's coding standards are.
 - Google Style for Java
 - Additional rules

https://docs.google.com/document/d/1EqvSfrKaQa6zBF8QRjWMZeOifMZsl-jwCxCmhC2Q8S8/edit#

[2018-03-20 20:36] mbarber-gala opened #204 "Create Fuse documentation - Continuous Integration"
Issue Description
--
Jenkins
 - Pipeline stages
SonarQube vs Checkstyle
Jacoco
Domain Objects

https://docs.google.com/document/d/1EqvSfrKaQa6zBF8QRjWMZeOifMZsl-jwCxCmhC2Q8S8/edit#

[2018-03-22 14:34] GalateaRaj opened #205 "Demonstrate how to return different content types from a rest service"
Issue Description
--
Many of our REST applications need to support content negotiation between the client and the server.  Spring RestController offers annotations that aid with this (using content type and accepts headers).  It would be great if FUSE can provide an example of how the same REST endpoint can return json, xml, csv or xls based on the accepts header.

Design
--
* Override `configureC

[2018-03-22 14:46] GalateaLiu opened #206 "Testing trace-related classes"
Issue Description
--
Classes involved with request tracing (FuseHttpTraceFilter) are not covered by any tests. We'd like to determine a good way of testing these classes.

[2018-03-23 14:32] gala-lightfoot opened #207 "RestExceptionHandler tests"
Issue Description
--
Add unit tests to RestExceptionHandler in order to pass the QualityGate checks.  We already have higher level testing performed in the controller tests.

Design
--
Assert each exception returns the correct HttpStatus code.

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete befor

[2018-03-26 10:54] #207 closed, assigned to gala-lightfoot

[2018-04-06 07:35] gala-dan opened #210 "Show how to define the port a Spring Boot application should run on"
Issue Description
--
By default, Spring Boot will run on port 8080. However, there may be scenarios where we need to run on an explicitly defined port. According to the [documentation](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-change-the-http-port) we have 2 options for this:

1. Via application.yml
2. Via a command line parameter

Option 2 feels more 12-factor co

[2018-04-09 17:08] gala-lightfoot commented on #210
Some info:
https://memorynotfound.com/spring-boot-passing-command-line-arguments-example/

Command-line will always override any config defined properties.

[2018-04-10 07:46] #182 closed, assigned to alex-power

[2018-04-16 18:40] GalateaRaj opened #213 "Make sure jackson databind doesn't fail if a service we call adds a new attribute"
Issue Description
--
Talk to @hstandring about the details.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete before Review is approved]

Test Evidence
--
[include relevant t

[2018-04-20 12:24] paulo-reichert opened #216 "Isolate protobuf implementation within Fuse and introduce a JSON based message queue"
Issue Description
--
After changes done in #205 to support protobuf, that protocol became too embedded in the code. In order to facilitate code reuse for applications that do not intend to use protobuf we should isolate it more from the code in Fuse.

Design
--
- Split rest controllers into 2: SettlementRestController will handle JSON and XML and SettlementRestProtoController will handle protobuf.

[2018-04-23 15:46] GalaFirsh opened #217 "Consider incorporation of a data mapping library"
Issue Description
--
Many of our REST applications are required to transform data from the existing schema of their underlying data store into the desired domain model(s) to be exposed via REST API.  There are ~several~ many tools out there that aid with this which don't involve the standard manual solution:  "_Most programmers will develop some sort of custom mapping framework and spend countless

[2018-05-17 14:13] paulo-reichert opened #219 "Demonstrate publication of messages to topics"
Issue Description
--
Demonstrate publication of settlement mission created events to topics. Implement both topics for JSON and protobuf serialized messages.

Design
--
The Publisher will be set up to send messages related to settlement to all interested parties. The Publisher will be called by the SettlementService when new missions are created, and will be designed to send both JSON and protocol

[2018-05-22 08:13] gala-dan opened #220 "Setup Swagger"
Issue Description
--
Setup Swagger within FUSE. Very useful to demonstrate how to document a RESTful API for consumers of the API.

Design
--
See http://www.baeldung.com/swagger-2-documentation-for-spring-rest-api for the basics. We'd need to consider any security implications and at the very least highlight where they'd be addressed.

Documentation Changes
--
Update documentation to provide addre

[2018-05-23 13:57] paulo-reichert opened #221 "Check whether Jaxb can serialize lists to XML without wrapping in parent object"
Issue Description
--
Check whether, when serializing a list or set, we can specify the parent element name for Jaxb serialization.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be co

[2018-05-23 17:00] paulo-reichert opened #222 "Jenkins builds fail when commit message contains a single quote"
Issue Description
--
notifySlack() in the Jenkinsfile script will fail if the commit message for the last build contains a single quote.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should

[2018-05-30 16:10] paulo-reichert opened #224 "Best practices exception handling"
Issue Description
--
Fuse should showcase best practices exception handling for REST web services.

The guidelines are as follow:
- [ ] services and layers below those should throw appropriate exceptions. --> #346
  - [ ] built-in Java exceptions should be used when available and appropriate.
  - [ ] custom exceptions should enhance the understanding of the error condition.
  - [ ] exceptions can

[2018-06-05 18:39] #216 closed, assigned to nobody

[2018-06-12 10:45] gala-dan opened #225 "Update READ.md to show how to switch logging to the console"
Issue Description
--
When running FUSE through IntelliJ, once you have setup a run configuration based on the Eclipse launch script parameters the service will log to file. As a Java novice it took me a little while to figure out how to instead log to the console using the log4j2-stdout.yml file instead.

manifest-dev.yml shows this can be done by setting the VM option -Dlog4j.configurationFile=lo

[2018-06-12 12:36] gala-dan commented on #220
Note I got this working locally by:

1. Adding the Swagger dependencies to the pom.xml (with the below exclusion in place for both)
2. Adding a SwaggerConfig class
3. Adding the code from the "Configuration Without Spring Boot" section of the Baeldung article to MvcConfig

Exclusions:
[code]

[2018-06-26 16:59] GalateaEric commented on #2
Needs to be fully fleshed out with how we want to do properties in a 12-factor compliant manner, etc...

[2018-06-26 17:01] GalateaEric commented on #12
closing as duplicate of #5 for the time being.

[2018-06-26 17:01] #12 closed

[2018-06-26 17:05] GalateaEric commented on #6
Comment from #27 (closed):

However make sure we have the right level of authentication.

Perhaps some endpoints (e.g. shutdown) should only be accessible from the host running the jvm.

[2018-06-26 17:11] #10 closed

[2018-06-26 17:13] GalateaEric commented on #11
Raj believes there is a standing decision to be made of whether we are still proponents of capsule any longer.

[2018-06-26 17:15] GalateaEric opened #226 "Remove all usage/mention of capsule from fuse-starter-java"
Capsule is no longer applicable for fuse now that we run in a PAAS environment

[2018-06-26 17:23] GalateaEric commented on #17
really, address #58 first, before we do the work on this.

[2018-06-26 17:25] GalateaEric commented on #17
we believe this is done in the tracer, but have not confirmed.  Leaving as closed.

[2018-06-26 17:28] GalateaEric commented on #23
STEERCO DECISION: yes, feign for external rest services is the recommended approach.

[2018-06-26 17:29] GalateaEric commented on #23
this issue should remain open until there is an example of WireMock-ing the external service in an automated test

[2018-06-26 17:31] GalaFirsh commented on #17
Tracer.java line 218:  `addTraceInfo(Tracer.class, TRACE_SW_SUMMARY, sw.getTotalTimeMillis());`

[2018-06-26 19:30] GalateaRaj commented on #24
Steerco needs to decide where in Fuse is the best place to demonstrate this.

[2018-06-26 19:34] GalateaRaj commented on #25
Topics for SteerCo:

1. Do we think that exposing MBeans via JMX is useful or are there better alternatives?  Does this answer differ if we are updating attributes versus simply getting data?
2. Do we like Jolokia?
3. Does this work well for PaaS and IaaS?  How about for situations where we have lots of jvms?

[2018-06-26 19:35] GalateaRaj commented on #39
@paulo-reichert :  should this issue still be open?

[2018-06-26 19:41] GalateaRaj commented on #98
SteerCo decision:  do we want to show how to use gradle or do we think that being retro is cool?

[2018-06-26 19:53] GalateaRaj commented on #176
I'm going to put the decision needed label back on this, since I've lost the plot a bit between this issue and issue #9 .  Here are my ramblings:

1. The build process needs to enforce any standards around code quality and style.  If the build process can't enforce it, we should assume that it won't be done.
2. I concluded that we needed the build process to run both checkstyle AND sonar since son

[2018-06-26 19:54] paulo-reichert commented on #213
@hstandring can you provide more details?

[2018-06-26 19:56] paulo-reichert commented on #210
Should implement it via command line and it should be required to ensure that the wrong port is not used by mistake. The implementation should show that.

[2018-06-26 20:17] hstandring commented on #213
The default implementation of ObjectMapper sets FAIL_ON_UNKNOWN_PROPERTIES to true so, if you use objectmapper for deserialization, then by default, an exception will be thrown if the upstream sends a property that isn't mapped in your POJO.

[2018-06-26 20:18] j-barber commented on #176
1. Agreed.
2. Agreed. Sonar stopped covering all of checkstyle's checks at some point.
We should be sure to validate the checks in whatever checkstyle.xml we go
with, as the google and sun checkstyle.xmls were each missing some useful
checks.
3. Eclipse allows exporting of code cleanup actions, code/comment
templates, formatting templates, import order, and checkstyle config
(though unfortunately

[2018-06-27 00:31] paulo-reichert commented on #205
Need to flesh out the description, update the documentation and close this issue.

[2018-06-27 00:35] paulo-reichert commented on #192
Our PWS subscription is set up and operational. Currently we do not have a prod instance deployed.

[2018-06-27 00:35] #192 closed, assigned to nobody

[2018-06-27 13:41] paulo-reichert commented on #39
Closing this. We implemented the option of receiving the byte[] and passing it to application code that can decode the message.

[2018-06-27 13:41] #39 closed

[2018-06-27 15:57] GalateaEric commented on #98
I thought this work was all done to use Gradle.

On Tue, Jun 26, 2018, 15:41 GalateaRaj <notifications@github.com> wrote:

[2018-06-27 18:07] paulo-reichert commented on #32
Review this: https://docs.run.pivotal.io/marketplace/pivotal-ssl.html
Need to purchase a certificate: https://www.digicert.com/

[2018-06-27 18:24] paulo-reichert commented on #41
http://www.baeldung.com/spring-retry

[2018-06-27 18:27] paulo-reichert commented on #46
https://github.com/TheLQ/GamersClub/tree/master/build/bcf736a518834fe7aa689d74d5ca1b/demo/management/JTop

[2018-06-27 18:36] paulo-reichert commented on #55
Tracer.java is not used anywhere in Fuse. FuseWebRequestTraceFilter is used for web requests tracing. Should this class be deleted?

[2018-06-27 18:47] paulo-reichert commented on #56
As @joshua-philpott indicated, this is implemented with the concurrency parameter in the JmsListener annotation. Do we need specific documentation on that in Fuse or do we just rely on Spring documentation?

[2018-06-27 19:23] j-barber commented on #56
A pointer for someone (in the gDoc) to this parameter would be helpful. We can leave the explanation of the details of the parameter to the Spring docs.

[2018-06-27 19:37] paulo-reichert commented on #75
Should this be linked to #219 and #57?

[2018-06-27 19:39] paulo-reichert commented on #77
I'll close this given the change to 12-factor and the difficulty to replicate and diagnose.

[2018-06-27 19:48] paulo-reichert commented on #124
Right now there is no caching in fuse and there are a few tasks open to configure caching so documentation should be part of those tasks.

[2018-06-27 19:48] #124 closed, assigned to nobody

[2018-06-27 19:49] paulo-reichert commented on #132
This is done already.

[2018-06-27 19:49] #132 closed, assigned to paulo-reichert

[2018-06-27 19:56] paulo-reichert commented on #133
This seems to work fine with jacoco 0.8 and the proto files are excluded in pom.xml.

[2018-06-27 19:56] #133 closed, assigned to nobody

[2018-06-27 20:00] paulo-reichert commented on #170
I'll close this. If this becomes an issue worthy of someone's time we can re-open or create a new one.

[2018-06-27 20:00] #170 closed, assigned to gala-lightfoot

[2018-06-27 20:09] #185 closed, assigned to nobody

[2018-06-27 20:09] #187 closed, assigned to nobody

[2018-06-27 20:09] #190 closed, assigned to nobody

[2018-06-27 20:12] #184 closed, assigned to nobody

[2018-06-27 20:12] #186 closed, assigned to mbarber-gala

[2018-06-27 20:12] #188 closed, assigned to mbarber-gala

[2018-06-27 20:12] paulo-reichert commented on #189
There is an outstanding branch for this that needs to be reviewed and completed.

[2018-06-28 08:42] gala-dan commented on #98
I can imagine in some cases we'll have to continue using maven, so I'd personally be in favour of demonstrating how both can be used. No issues with gradle being the recommended solution, but definitely useful to have a shadow maven implementation too.

[2018-07-03 17:03] #183 closed, assigned to nobody

[2018-07-03 17:07] GalateaEric commented on #33
raj to add detail to this one

[2018-07-03 17:10] GalateaEric commented on #60
yes, we should be using ZonedDateTime or LocalDateTime from java 8 onwards.  java.util.Date should generally be avoided.

Probably need some way to demonstrate all the usual functions like: https://gist.github.com/salomvary/79977bbdb3a9cccadac2

[2018-07-03 17:11] GalateaEric commented on #60
assigning to Danny to come up with a list of all the desired date functionality we should aspire to demonstrate.

[2018-07-03 17:18] GalateaEric commented on #9
heather nominated to comb through this one as they just slogged through this on her project.

[2018-07-03 17:20] GalateaEric commented on #26
decision made .... see #226

[2018-07-03 17:20] #26 closed

[2018-07-03 17:32] GalateaEric commented on #53
raj to add some comments about the latest encounters with some more recent technologies

[2018-07-06 16:24] paulo-reichert opened #228 "Remove lombok irrelevant lombok annotations from controllers and services"
Issue Description
--
![image](https://user-images.githubusercontent.com/13468907/42389689-7f215898-8117-11e8-9de5-c46286cf2e0c.png)

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be c

[2018-07-09 15:49] paulo-reichert commented on #180
There's quite a bit of documentation written already. Developers working in fuse should be encouraged to update and maintain that documentation.

[2018-07-10 09:32] gala-dan commented on #60
Thoughts:

1. Introduce the concept of a date/calendar service, which would be used to abstract away all date logic anywhere we need it. This makes testing easier as we can ensure determinism.
2. Converting local dates to UTC
3. General date comparisons
4. Handling of holidays (which may be a separate issue entirely)

[2018-07-10 16:43] GalateaEric commented on #60
Alex F would like to add something related to url/spring parameters

[2018-07-10 17:28] GalateaEric commented on #53
[code]

[2018-07-10 23:01] paulo-reichert opened #229 "Annotate functional interfaces with @FunctionalInterface"
Issue Description
--
Interfaces that are meant to be used as functional interfaces should be annotated with `@FunctionalInterface` to ensure that they have only one method and are clearly identifiable as such.

Two I can think right now are `ITranslator` and `IAgreementTransformer`.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is a

[2018-07-17 11:53] GalaFirsh commented on #60
Basically what's the best way to go from a url param to a usable java object for dates?  @DateTimeFormat perhaps?

Something where you're adding a time-based filter to a query for example, eg:
``http://host:port/trades?since=2018-03-17``

[2018-07-24 17:06] GalateaRaj commented on #176
We decided:
1.  @mbarber-gala to configure checkstyle per @hstandring direction (largely based on Google style guide and above discussion re javadoc and the table)
2.  Checkstyle rules will be used via IDE plugin and during maven/gradle build
3.  We all agreed that we need Sonar in additional to checkstyle.  We will utilize the SonarWay.
4.  We should also do #9 in conjunction with this change: @m

[2018-07-24 17:07] GalateaRaj commented on #9
Please do this in conjunction with #176

[2018-07-24 17:17] GalateaRaj opened #230 "Document decision matrix on how to interact with a database"
Issue Description
--
We have come up with a decision matrix as a part of #53 .  Let's document this in the FUSE google doc.

Design
--
N/A

Documentation Changes
--
See above.  This issue is about documentation changes.

Test Evidence
--
N/A

Validation in Develop
--
N/A

[2018-07-24 17:28] GalateaRaj commented on #53
We need to make a decision on the best way to maintain your db schema.  Do we like flyway (since it's integrated with spring) to manage the database schema (https://docs.spring.io/spring-boot/docs/current/reference/html/howto-database-initialization.html#howto-execute-flyway-database-migrations-on-startup) ?

[2018-07-24 17:38] GalateaRaj opened #231 "Demonstrate how to use JPA to perform CRUD operations on a database"
Issue Description
--
This is related to #53 .  If you have a "small" number of records, we recommend JPA via Spring Data and Hibernate (see the decision matrix for details).  We will use MySQL on Cloud Foundry as the database.

We need to demonstrate:

1. Knowledge of JPA (e.g. difference between JPA and Hiberate and Spring Data) via documentation
2. Create
3. Update
4. Delete
5. Read
6. Joins bet

[2018-07-24 17:41] GalateaRaj commented on #53
We have an issue for JPA.  Now steerco need to figure out what to do for the rest of the decision tree (i.e the large record set branch and how to test the "existing project" branch) and recommend best practices.

[2018-07-26 09:32] ButlerAndy commented on #53
I would like a Galatea "Best Practice" to be that we always create a UI for managing "database-stored" configuration/tasks. Things such as:

1. Setting flags to switch feeds on and off
2. Viewing logging tables
3. Generic record count checks/sanity checks that are not sufficient in Geneos
4. Start/Stop/Rerun ETL

And many more.

Without this, you need to use DBA's or rely on support to run code fo

[2018-07-31 16:47] GalateaEric commented on #33
We should demonstrate using spring-security.  It's very easy to enable on a spring boot app, and provides loads of good default behavior and some customizable options if you have to do special things with certificates at the bank.

I would recommend we demonstrate both user/pass authentication and client certificate authentication.

spring security has both authorization and authentication concept

[2018-07-31 16:56] GalateaEric commented on #35
DECISION NEEDED: the crux of the desired decision is what use case to demonstrate the @async...

[2018-07-31 17:22] GalateaEric commented on #53
in reply to Andy's:

~~1. Setting flags to switch feeds on and off~~ this seems like an application specific use case of config.  We'll address in issue: #2 where a config best practice can/should be to use on/off switches for features.
~~2. Viewing logging tables~~  fuse would recommend that you generally don't log to database tables.
12-factor recommends we log to stdout.  Are we talking about d

[2018-07-31 17:23] GalateaEric opened #232 "Demonstrate a database-centric ETL-like batch processing app -- as distinct from a message/REST focused application"
Issue Description
--
Demonstrate a database-centric ETL-like batch processing app -- as distinct from a message/REST focused application

Design
--
Talk to Andy for some details  see comment on issue: #53

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete before Review is approved]

Test Evidence
--

[2018-07-31 17:33] GalateaEric commented on #35
revisit later, may be demoted in favor of a broader task on asynchronicity in general.

[2018-08-14 17:20] GalateaRaj opened #233 "Demonstrate how to perform DB operations on large datasets from java code (not using JPA)"
Issue Description
--
This covers the following branch of the tree in issue #53 :
	-> greenfield
			- large record sets to write or retrieve?  large is > 10k-ish
				-> yes
					- is something simple and generic like multi-threaded batched jdbc inserts fast enough?

The whole point of this exercise is to make sure our solution is faster than a JPA based solution otherwise we could just use #231

So

[2018-08-14 17:25] GalateaRaj commented on #53
Finally!

[2018-08-14 17:25] #53 closed

[2018-08-21 16:50] GalateaRaj commented on #5
Include java version with recommendations.

@GalateaRaj to facilitate discussion with group and revert.

[2018-08-21 17:16] GalateaRaj commented on #74
3 use cases:

1.  Queue listener or web service -- let spring handle that for you

2.  Handle batches of requests in parallel to the same "service" or "database" -- java 8 streams.  Issue to be raised by @GalateaRaj

3.  Perform N distinct operations that need to happen in parallel e.g. call 3 different enrichment services that should happen in parallel so that you can update your object with refe

[2018-08-21 17:16] GalateaRaj commented on #74
Need to put this into the google doc on slack.

[2018-08-21 17:22] GalateaRaj commented on #155
Based on our experience, you can remove manifest-dev.yml but you should leave in manifest-local.yml to make it easy for developers to push to cloud foundry for testing.

Update google doc to discuss when to use manifest-local.yml.

[2018-08-28 17:25] GalateaRaj commented on #2
decision tree:

Non-sensitive data
1.  PaaS-native app
12-factor approach that is supported by your PaaS offering
Inject in secure resources (not encrypted properties) e.g. a datasource

2.  Not cloud-native app (e.g. jar deployed to 2 virtual machines and run using a shell script)
Config is stored in yaml or properties files in src/main/resources and bundled in jar
Use a "common" section/file for

[2018-09-09 02:31] wmvsilva opened #235 "Possible improvement: Change getMessage to toString in RestExceptionHandler"
Issue Description
--
After using the code from `RestExceptionHandler`, we noticed a potential issue. In `RestExceptionHandler`, some methods create an `ApiError` like the following:

However, if the message of the exception is null, this can cause another exception to be thrown since the `message` field on `ApiError` is marked `@NonNull`. After modifying the code for other types of exceptions, we

[2018-09-12 14:14] Gala-Sortino commented on #201
Looking at the current documentation, these sections seem to have already been documented?

https://docs.google.com/document/d/1EqvSfrKaQa6zBF8QRjWMZeOifMZsl-jwCxCmhC2Q8S8/edit#heading=h.gy2hov5n7fcf

Is there anything in particular missing? Or is this issue resolved?

[2018-09-12 16:23] Gala-Sortino commented on #88
Hey @GalateaRaj. Was wondering if you could provide some clarification on this issue, as to how the tracer filter should be acting in this situation.

[2018-09-17 09:35] Gala-Sortino commented on #55
@GalateaRaj this still says decision needed, is this still the case or has a decision be made so I can go ahead and delete the file?

[2018-09-17 09:40] Gala-Sortino commented on #203
@GalateaRaj to what scope are we defining coding "standards", is this solely styling or does this include all coding guidelines?

[2018-09-17 10:19] Gala-Sortino opened #236 "Jenkins build failing due to parameter error in Jenkinsfile."
Issue Description
--
Jenkins builds are failing due to the parameter "pluginTimeout" inside of the JenkinsFile being set as an integer when it expects a string. Also, have to modify the parameters of "memory" and "instances" to type string as well.

This issue is evident in the main develop branch too, however as the last build was many months ago, it has not failed. This suggests between the last

[2018-09-17 10:31] Gala-Sortino commented on #204
@mbarber-gala in terms of CI, could you describe what you mean by Domain Objects?

[2018-09-17 10:45] Gala-Sortino commented on #40
From looking into this issue, there seem to be multiple things at fault here.

The Request-success result is determined within Tracer.java, inside the runAndTraceSuccess function. Here the success is determined by whether or not an exception occurs.

However, due to the way in which exceptions are handled within the RestExceptionHandler, no exceptions would be passed back to the func call.

Also f

[2018-09-17 11:04] Gala-Sortino commented on #55
The tracer class is invoked from within the FuseWebRequestTraceFilter, as it calls "runAndTraceSuccess" which is a method inside of Tracer.java

[2018-09-17 13:25] Gala-Sortino commented on #229
Already done with a pending pull request.

[2018-09-18 15:59] GalateaRaj commented on #88
I'd expect the tracer to log the exception with all of the appropriate request context.

[2018-09-18 16:39] GalateaEric commented on #33
still waiting on raj

Classic, there are five ways to do this, need to look at them.  If the platform offers, always use that of course, but if the platform doesn't... what's our recommendation?

To be clear...  this ticket is only trying to address the Entitlement/Authorization aspect of the broader 'auth' discussion.  In fuse what we want to demonstrate is that for a particular end point once th

[2018-09-18 16:56] GalateaEric commented on #235
ready to be designed.  Developer to confirm we like the exception.toString() as the right alternative.  Once the developer is good with that, proceed onwards.

[2018-09-18 17:01] GalateaEric commented on #236
go for it.

[2018-09-18 17:07] GalateaEric commented on #229
PR: https://github.com/GalateaRaj/fuse-starter-java/pull/234 is blocked by #236

[2018-09-18 17:15] GalateaEric commented on #5
moving over to James rather than Raj to facilitate the polling/input gathering on this one.

[2018-09-18 17:20] GalateaEric commented on #55
Documentation and class are both required.  Please add an interesting javadoc to the class.

Attempt to refer to Raj (the original author) if we need more input on what this thing does.

[2018-09-19 09:00] #236 closed, assigned to Gala-Sortino

[2018-09-19 09:49] #229 closed, assigned to Gala-Sortino

[2018-09-19 10:41] Gala-Sortino commented on #226
Proof of testing:
![image](https://user-images.githubusercontent.com/43134061/45748505-e1da4480-bc00-11e8-9bcb-b1300fb21955.png)

[2018-09-20 13:35] Gala-Sortino commented on #88
With the current code, if a generic exception occurs that is not caught by the RestExceptionHandler, then-the tracer log is the following:

`2018.09.20 14:24:35.912 [qtp32836908-27] INFO  o.g.s.u.FuseTraceRepository - 1341475304 - Adding trace info: {Tracer={internal-request-id=1341475304, trace-end-UTC=2018-09-20T13:24:35.912Z, trace-timing-ms=131655, trace-start-UTC=2018-09-20T13:22:24.257Z}, Fu

[2018-09-24 07:53] #228 closed, assigned to Gala-Sortino

[2018-09-24 08:08] #226 closed, assigned to Gala-Sortino

[2018-09-24 19:12] j-barber commented on #220
Merged under PR #241

[2018-09-24 19:12] #220 closed, assigned to paulo-reichert, j-barber

[2018-09-25 16:32] ktweel commented on #33
also want to show how to authenticate swagger endpoints (so no one who's not authorized can see the documentation).  See swagger item: #220

[2018-09-25 16:33] GalateaEric commented on #33
also want to show how to authenticate swagger endpoints (so no one who's not authorized can see the documentation). See swagger item: #220

[2018-09-26 10:48] gala-dan opened #243 "Protect against log forging"
Issue Description
--
Static scanning of client code revealed a log forging vulnerability in our code relating to logging parameters received from an external source. Looking in BaseRestController it seems FUSE is exposed to this too (as we log the requestId, which is a string).

This obviously isn't a critical issue, but it is good to be aware of these types of issues.

See https://www.baeldung.co

[2018-09-26 14:27] #235 closed, assigned to Gala-Sortino

[2018-10-30 17:00] GalateaEric commented on #5
Assigning to @Gala-Sortino  to confirm whether the options listed in the google sheet are applicable to openJDK (and have the expected behavior).

https://docs.google.com/spreadsheets/d/19qjhgvgkwoaokvyPn8kMYsjeMY17fcyIHQM1LdWaUZk/edit#gid=0

[2018-10-30 17:03] GalateaEric opened #245 "convert fuse to use openJDK rather than oracle."
Issue Description
--
Oracle's licensing department is coming!  Let's move to open JDK.

Need to convert any local builds, deployment builds, pivotal buildpacks to all use openJDK consistently across the whole lifecycle.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes neces

[2018-10-31 10:38] Gala-Sortino commented on #5
@GalateaEric Is there a particular version of openJDK that should be investigated? Due to args periodically being deprecated and consequently removed, thus would have an effect on its existence within openJDK.

[2018-11-15 20:45] paulo-reichert opened #246 "Investigate fuse build issue on OpenJDK 11"
Issue Description
--
[code]

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete before Review is approved]

Test Evidence
--
[include relevant tests and output. Should be compl

[2018-12-17 20:26] GalateaKyle opened #247 "Make Fuse look like a prod application"
Issue Description
--
Making FUSE look more like a prod app would help train on common enterprise application concerns
- Deployment process
- HA/DR thinking and strategy
- Failure planning (e.g. what happens if the app dies... here)

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of c

[2018-12-19 18:27] ewingalatea commented on #77
I ran into this same issue when working with log4j2 in my client work.
James and I found a fix.
I will attempt to raise a PR to put the fix into Fuse

[2018-12-19 18:33] j-barber commented on #77
See http://apache-logging.6191.n7.nabble.com/log4j2-creates-empty-log-file-when-configuration-happens-td72113.html and https://issues.apache.org/jira/browse/LOG4J2-1504 for reference.

[2019-01-02 15:58] wmvsilva commented on #231
I've started work on this. This issue says:

But it does not look like MySQL has been set up on Cloud Foundry at this time per Eric's [comment](https://github.com/GalateaRaj/fuse-starter-java/issues/95#issuecomment-351065347). I'll complete this using H2 as the database, which is the current setup unless this should wait on MySQL being ready. JPA should make it easy to switch the underlying databa

[2019-01-02 19:36] gala-francis commented on #29
Most of these enhancements are already complete, and/or have been addressed in other issues.

1. All requests are currently logged in the trace, as per below:
`...FuseWebRequestTraceFilter={spring-trace={method=GET, path=/hal, headers={request={Cache-Control=no-cache, Accept=*/*, User-Agent=PostmanRuntime/7.4.0, Connection=keep-alive, Postman-Token=7c8d04f4-e400-4ad4-bae9-d9137a03a78e, Host=localh

[2019-01-03 15:53] ktweel commented on #73
PR #78 adds config to set fetch size in hibernate.properties

[2019-01-03 16:32] #210 closed, assigned to ktweel

[2019-01-04 13:49] wmvsilva opened #251 "Set up MySQL on Cloud Foundry as a database"
Issue Description
--

For FUSE, we want to switch from using an embedded H2 database to using MySQL in Cloud Foundry to demonstrate how to connect to a separate database. It was decided in #53 that using MySQL would be the approach. Per #95, FUSE already runs in Cloud Foundry but the MySQL service was not set up.

Design
--
[Description of the root cause for the issue and how to resolve it. Should

[2019-01-04 15:28] wmvsilva opened #253 "Cache configuration not set up properly"
Issue Description
--
[Description of the issue, with example/screenshot. Description of what the desired behavior should be. Should be complete before Review is approved]

While FUSE has the `ehcache.xml` configuration included, it is not set up correctly. Because a `CacheManager` bean is not created in the `AppConfig`, Spring uses a default simple cache provider which stores values in an instance

[2019-01-04 16:48] wmvsilva commented on #253
PR opened here https://github.com/GalateaRaj/fuse-starter-java/pull/261

[2019-01-04 21:29] wmvsilva commented on #231
I've worked on the first 5 points on the list. There were already examples of creating and reading SettlementMissions.

1. Knowledge of JPA (e.g. difference between JPA and Hiberate and Spring Data) via documentation
2. Create
3. Update
4. Delete
5. Read

Design
--

The only implementation changes needed are for Update and Delete since there are already examples of Create and Read.

The Update end

[2019-01-15 21:40] GalateaEbbs commented on #77
Currently we are creating 3 application log files on startup, because there are three events during Spring Boot initialization which usually happen about a second apart which create new log files since the log file name below is formatted with seconds (HHmmss). We COULD mask this by removing seconds from this config, but it would still create multiple files if the JVM was started right as the minu

[2019-01-18 16:06] #225 closed, assigned to nobody

[2019-02-12 13:59] gala-dan opened #262 "Switch Fuse to Spring Webflux"
Issue Description
--
Incorporate Spring Webflux into FUSE. Should show example of a async endpoint as well as an an example of an async consumer.

The great thing is Webflux is transparent to the other side, so can have a reactive producer and Spring MVC consumer, and vice versa.

Design
--
See https://stackabuse.com/spring-reactor-tutorial/ for examples.

Documentation Changes
--
[Description of

[2019-02-19 17:41] GalateaEric commented on #33
still waiting on raj

[2019-02-19 17:49] GalateaEric commented on #247
Deployment process is in place, may need to be documented?  Jenkins pipeline, cloud foundry, etc...

HA / DR is built into cloud foundry.  We do need to set up / demonstrate database HA/DR in cloud foundry. (#251 )

Failure recovery scenarios is also currently viewed as a documentation exercise by this group.

[2019-02-19 17:50] GalateaEric commented on #251
Have a look at #247 for some indications on HA / DR stuff around the database.  Update the issue description as appropriate

[2019-02-19 17:55] GalateaEric commented on #262
candidate use case: listen for missions created that match a certain criteria.

[2019-02-19 18:04] GalateaEric commented on #262
Add copious documentation to ensure that we don't have blocking calls accidentally in our non-blocking lambdas.

[2019-02-26 18:13] GalateaEric commented on #77
we are merging the PR that addresses some aspects of this issue, but leaving the issue open as it's technically not yet fully solved.  The issue may in fact not truly be solvable.  Let's not spend too much more time working on this one as it's pretty benign.

[2019-03-01 21:30] GalateaKyle opened #263 "Define preference for reading/writing CSV files"
Issue Description
--
We often need to read/write CSV files in our line of work.  Can we pick a standard for how to do this?  Should we use a publically available API?  If so which one?

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due

[2019-04-17 15:18] gala-dan commented on #5
Useful resource - https://www.baeldung.com/jvm-parameters

[2019-04-17 15:20] gala-dan opened #264 "Demonstrate use of Spring Cloud Sleuth"
Issue Description
--
[Sleuth](https://cloud.spring.io/spring-cloud-sleuth/single/spring-cloud-sleuth.html) offers some very interesting features straight out of the box, making it easy to trace requests that span multiple services.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of c

[2019-05-06 18:07] GalateaFarhaad commented on #23
I don't think the Feign example inside `SettlementRestControllerIntegrationTest.java` is an appropriate example - it just uses some `Feign.builder()` functionality inside of a test method to call our own rest service. A better example would probably have a `@FeignClient` interface within the actual code calling an external REST service.
Is there a specific service we would want to call for this ex

[2019-05-14 14:26] GalateaFarhaad commented on #32
Does anything actually consume the Fuse REST service? If not, would a self-signed certificate be sufficient for just demonstrating how to set up https, rather than purchasing and maintaining an actual certificate?

[2019-05-14 18:34] GalateaFarhaad commented on #201
Sections for mutable entities and immutable entities were already present. I added a section for other components and services.

Review of the documentation is needed so that it can be finalized and this issue closed.

[2019-05-16 19:36] GalateaFarhaad commented on #205
Updated the description and the documentation.

Issue is ready to be reviewed for closure.

[2019-05-24 12:31] j-barber commented on #32
Self signed certificate will be fine to start.

[2019-05-24 12:55] j-barber commented on #155
PR merged. Documentation still needs updating.

[2019-05-24 13:08] j-barber commented on #231
If we're going to be updating/deleting missions then let's introduce the concept of 'version', which needs to be provided with any create/update/delete request. Updates requests should only cause an update if the update version is greater than the current version. Deletes should only delete if the delete version equals the current version.

[2019-05-24 17:17] j-barber commented on #155
Documentation updated

[2019-05-24 17:17] #155 closed, assigned to GalateaFarhaad

[2019-05-28 12:51] j-barber commented on #205
Description includes supporting csv & xls, so we should add support for those as well.

[2019-05-28 12:54] #201 closed, assigned to Gala-Sortino, GalateaFarhaad

[2019-06-11 18:50] GalateaFarhaad commented on #23
The IEX API for stock data looks like a good option. No API key is needed, so we wouldn't have to deal with registration, maintaining an API key, or rate limits. https://iextrading.com/developer/docs/

Some other options are:
- AlphaVantage (https://www.alphavantage.co/)
  - Current and historical stock data, FX data
  - Requires API key (free registration), requests limited to 5/min and 500/day
-

[2019-06-12 14:49] GalateaFarhaad opened #267 "Improve build logs"
Issue Description
--
Application logs during Jenkins builds are almost entirely startup logs, including a huge "AUTO-CONFIGURATION REPORT" section, and not including any actual application logging. See https://jenkins.fuse.galatea-associates.com/job/jenkins-pipeline/job/develop/75/consoleText for an example. This makes it very difficult to find useful information in failed builds, if that informat

[2019-06-14 16:41] GalateaFarhaad opened #268 "Decide whether to throw EntityNotFoundException in Controller or Service"
Issue Description
--
The `SettlementRestController#getMission` endpoint (as well as the associated `SettlementProtoRestController#getMission`) throws an `EntityNotFoundException` inside the endpoint method, while the `SettlementRestController#getMissions` endpoint throws an `EntityNotFoundException` inside the associated service method.

At least one of these should be changed so that both flows t

[2019-06-17 14:24] GalateaFarhaad commented on #268
My general opinion around the separation between of functionality between controllers (or entry points in general) and services is that the only logic inside controllers should be things specifically related to the HTTP request/response. By that, I mean things like reading request headers, populating response headers, and adjusting the shape of internal data to be more front-end-friendly before se

[2019-06-18 14:49] GalateaFarhaad commented on #176
There is an existing Galatea Way profile that is being used for FUSE scans, but it is missing a bunch of rules from the Sonar Way. I did a bulk-import of rules from the Sonar Way to the Galatea Way and then set the Sonar Way as the parent of the Galatea Way, so any changes to the Sonar Way in the future should be automatically reflected in the Galatea Way.

I also added all of the rules in the tab

[2019-06-25 13:23] j-barber commented on #176
Changes look good. A few more documentation updates and we'll be good to go. I added a few comments directly to the gDoc - once those are resolved we can merge/close this issue.

[2019-06-25 13:25] #205 closed, assigned to GalateaFarhaad

[2019-06-25 13:27] #267 closed, assigned to GalateaFarhaad

[2019-06-25 13:44] j-barber commented on #176
gDoc updates look good.

[2019-06-25 15:55] GalateaFarhaad commented on #268
This is a related question to #224

[2019-06-25 17:06] GalateaFarhaad opened #272 "Properly handle exceptions thrown by other-content-type endpoints"
Issue Description
--
Since #205, we now have HTTP endpoints that return content types which do not automatically have conversion supported by Spring, such as Protobuf, CSV and XLSX. If any exceptions are thrown by those endpoints, those exceptions cannot automatically be converted to the content type requested by the client, which results in

`2019.06.25 12:59:56.723 [qtp1207758771-24] WARN  o.s.w

[2019-06-26 20:37] GalateaFarhaad commented on #176
Removed the line coverage and branch coverage rules, and instead added "Line coverage on new code" and "Condition coverage on new code" quality gates. The rules applied on a per-file basis and did not seem to properly trigger failures on feature/PR builds, possibly because those short-lived-branches only scan modified lines of code, but then when the full project was scanned in the develop build t

[2019-07-09 16:40] GalateaEric commented on #263
Raj is tentatively recommending apache's csv library.  We should do a thorough lit review for what our recommendation is.  Does spring have anything?

[2019-07-09 16:53] GalateaEric commented on #264
approved.

We should start with just a simple thing tracing calls from the rest server to the database.

[2019-07-09 17:30] GalateaEric commented on #40
in FuseWebRequestTraceFilter (section below).

In the try {} block add a check against the response code and sets the request-success variable to false.

      try {
        t.runAndTraceSuccess("request", () -> {
          filterChain.doFilter(request, response);
          status.setValue(response.getStatus());
          return Void.TYPE;
        });
      } finally {
        enhanceTrace(springT

[2019-07-10 14:08] GalateaFarhaad commented on #263
An example of serializing a POJO to CSV using the [Jackson CSV library](https://github.com/FasterXML/jackson-dataformats-text/tree/master/csv) was added in #205. See [`CsvSerializer`](https://github.com/GalateaRaj/fuse-starter-java/blob/a42eca83256b1c2f60a333827f4149b8f793a083/src/main/java/org/galatea/starter/utils/http/converter/CsvSerializer.java) for usage, and the associated [`CsvSerializerTe

[2019-07-28 19:44] GalateaEbbs opened #276 "Demonstrate how to use Spring Cloud Contract WireMock"
Issue Description
--
Demonstrate how to use Spring Cloud Contract WireMock for stubbing external REST calls.

https://cloud.spring.io/spring-cloud-static/spring-cloud-contract/1.1.2.RELEASE/#_spring_cloud_contract_wiremock

[2019-07-29 13:00] GalateaEbbs opened #278 "Have base route automatically forward to /swagger-ui.html"
Issue Description
--
Currently you need to know to go to /swagger-ui.html to load the swagger docs. Two things that we've done on our project that we find useful are:

1) Base route forwards to swagger UI
2) Log out full URL of swagger UI on startup: "Started successfully, you can view swagger UI here: {URL}"

[2019-07-29 13:28] GalateaEbbs opened #279 "Add new or modify current Application run config to print logs with log4j-stdout.yml"
Issue Description
--
Either add a new Application run config or modify the existing one so that logs are printed to the console with the log4j-stdout.yml file. Much easier to see what's going on than looking through log files.

[2019-07-29 14:53] GalateaFarhaad commented on #279
Under the logging section in the readme, there's instructions on how to log to stdout:

That being said, I agree that setting log-to-stdout as the default setting for local running makes things easier. It matches what the application does in dev too, since it logs to stdout on Cloud Foundry.

[2019-07-31 14:24] GalateaEric opened #282 "fix Jenkins auth thing and point at galatea organization space now that fuse-starter-java has moved"
Issue Description
--
fix Jenkins auth thing and point at galatea organization space now that fuse-starter-java has moved

Design
--
GitHub URL changed as part of new Jenkins instance:
https://jenkins.fuse.galatea-associates.com/jenkins/

Jenkins will also now authorize using GitHub accounts. Users will need to be added to the org/team in order to do anything other than see builds.

Documentation C

[2019-07-31 14:41] GalateaEric commented on #246
this may be related to a lombok problem: https://github.com/rzwitserloot/lombok/issues/1644

[2019-07-31 14:49] GalateaEric opened #283 "investigate and fix security vulnerabilities that github is kindly flagging for us"
Issue Description
--
investigate and fix security vulnerabilities that github is kindly flagging for us

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete before Review is app

[2019-07-31 14:49] GalateaEric commented on #283
![image](https://user-images.githubusercontent.com/34042892/62222160-e0c98600-b380-11e9-980a-bb440c701c1c.png)

[2019-07-31 19:19] GalateaEric commented on #231
To further clarify... I would propose that the 'version' be a field in the body's json, and a field in the database table, rather than a URL parameter.

I think it makes more sense for the update semantics to work the same as the delete.  The caller should supply the version that the caller is trying to update, and if the version in the database is not the same then the update should be rejected.

[2019-08-05 18:58] GalateaEric commented on #77
This is done, PR merged.

[2019-08-05 18:58] #77 closed

[2019-08-05 19:00] GalateaEric commented on #283
this is done, PR merged

[2019-08-05 19:00] #283 closed, assigned to GalateaTom

[2019-08-05 19:03] GalateaEric commented on #23
I've added WireMock to use for the IEX service unit tests.  Waiting on Jenkins to be back to functional before adding some integration tests.  Outside of the integration tests the feature/23-demonstrate-rest-call-with-feign branch is about ready to merge.

[2019-08-07 12:28] GalateaEric commented on #23
some outcome from the steerco discussion of this branch...

1) replace the manually created file stubs by whatever output is generated when the WireMock proxy mode recorder something is used instead.  Need to figure out how to run that against the IEX end points.

2) if we're not going to use all of spring cloud contract we should instead import WireMock stand alone rather than use the <artifactId

[2019-08-07 12:31] GalateaRaj commented on #23
I would add:

3.  Utilize rest assured to test the entire servlet stack and validate json response

[2019-08-07 19:42] GalateaEric opened #287 "Use REST assured rather than MockMvc for our REST controller unit tests"
Issue Description
--
Use REST assured rather than MockMvc for our REST controller unit tests.

http://rest-assured.io/

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete befor

[2019-08-07 19:45] GalateaEric commented on #23
#287 raised to capture the REST assured thing.  I would prefer to migrate all the different rest controller unit tests to rest assured at once, rather than have some on rest assured and some on MockMvc.  I'll leave MockMvc in place on the IEX endpoints for now for consistency's sake, and to be able to actually get something into develop before each request snowballs out of control and nothing ever

[2019-08-07 19:47] GalateaEric opened #288 "Upgrade to spring boot 2.1.x"
Issue Description
--

Spring boot 1.5.x is no longer being maintained.  We should upgrade to the latest 2.1.x release.

https://spring.io/blog/2019/08/06/it-is-time-goodbye-spring-boot-1-x
https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0-Migration-Guide

Design
--
### Compilation Issues
#### Trace
Spring Boot 2 has removed the following classes we use:
`WebRequestTraceFilter`
`I

[2019-08-08 12:43] GalateaEric commented on #282
Slack integration is still broken, but we are back to being able to use the PR builds to automatically pass checks on PRs in GitHub, so all good for now.

[2019-08-08 12:43] #282 closed, assigned to GalaHarley

[2019-08-08 13:05] #40 closed

[2019-08-08 15:44] GalaHarley commented on #23
Followed the instructions at http://wiremock.org/docs/record-playback/ to generate JSON stubs for

[2019-08-08 18:52] GalaHarley commented on #88
For clarification, is this the issue to be addressed? Where MDC elements like request ID disappear after the exception log?

---
2019.08.08 14:44:16.544 [qtp322612414-21] INFO  o.g.s.e.IexRestController - 1425400604 - ↓getLastTradedPrice({})
2019.08.08 14:44:17.798 [qtp322612414-21] ERROR o.g.s.e.IexRestController - 1425400604 - ⇑getLastTradedPrice({}) ⇒ feign.FeignException: status 400 reading Ie

[2019-08-08 19:35] GalaHarley commented on #222
Seems to be fixed by Farhaad as part of #176

[2019-08-08 19:59] GalaHarley opened #289 "Fix build links in Slack build notifications"
Issue Description
--
Currently the links point to a broken AWS URL. They should point to the build location at https://jenkins.fuse.galatea-associates.com/jenkins/

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in res

[2019-08-12 12:26] GalaHarley commented on #288
One of the changes in Spring Boot 2 is they completely removed Actuator's `trace` and replaced it with `httptrace`.

https://docs.spring.io/spring-boot/docs/current/actuator-api/html/#http-trace
https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/actuate/trace/http/package-summary.html

`trace` is used pretty heavily in FUSE, and it appears this new endpoint is not exactly

[2019-08-12 14:18] GalaHarley commented on #289
Done by editing the Jenkins URL in https://jenkins.fuse.galatea-associates.com/jenkins/configure

[2019-08-12 14:18] #289 closed, assigned to nobody

[2019-08-12 17:39] GalateaEric commented on #222
agreed

[2019-08-12 17:39] #222 closed, assigned to nobody

[2019-08-12 17:47] GalateaEric commented on #23
this is merged to develop.  Closing.

[2019-08-12 17:47] #23 closed

[2019-08-13 15:52] GalaHarley commented on #288
https://github.com/spring-projects/spring-boot/issues/9980

Main issue at hand for the Trace changes

[2019-08-13 19:19] GalateaEric commented on #67
We are going to park this issue pending a larger discussion with the fuse steerco.

Points we want to evaluate in a larger discussion:

- What is our general recommendation for how to: 1) query read-only process data (ie, heap usage, thread count) from a jvm, 2) perform adhoc tasks (such as message re-processing), or random manual support things like resetting a cache or changing log levels.  Is t

[2019-08-13 19:22] GalateaEric opened #291 "Point Jenkins' cloud foundry step at a manifest file rather than use in-line"
Issue Description
--

The issue we're running into is that the health check against tcp:8080 is timing out with the default settings when we push to cloud foundry.  The cloud foundry github plugin doesn't expose these properties with the in-line manifest file.

However, this does force us to now create a new step in Jenkins where we do some variable substitution on the manifest file so we can stil

[2019-08-13 19:27] GalateaEric commented on #288
The general view of the steerco is that we should

- Dump our custom trace implementation and embrace whatever spring boot 2 has for http tracing.  - That being said, do something of a feature comparison between our custom trace implementation and what spring boot 2 has and see if there's any gap we want to think about covering (and create an issue to do so).
- For JMS tracing see if there's anyth

[2019-08-13 19:28] GalateaEric commented on #88
Let's pause any work on this issue for the moment as our custom trace implementation may be going away with the spring boot 2 migration -- #288

[2019-08-13 19:30] GalateaEric opened #292 "Migrate fuse to OpenJDK 11"
Issue Description
--

All local development and cloud foundry deployments should be updated to use java 11, preferable OpenJDK.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be compl

[2019-08-13 19:34] GalateaEric commented on #67
#25 needs to be resolved before we should do any work on this

[2019-08-13 19:34] GalateaEric commented on #25
working on #67 is dependent on resolving this issue first.

[2019-08-13 20:01] GalaHarley commented on #288
Default SB2 Trace features:
- timestamp
- principal
- session
- request
  - method
  - uri
  - headers
  - remoteAddress
- response
  - status
  - headers
- timeTaken

FUSE trace implementation additional features
- request body
- response body
- internal-request-id
- external-request-id
- request-success

We also add a number of custom headers to the response itself (in `FuseWebRequestTraceFilter

[2019-08-14 16:09] GalateaTom commented on #243
A temporary fix will be provided by branch feature/issue-243-protect-against-log-forging-TomEd.  Long term solution is to wrap the logging format in %encode{...}{CRLF} in all the log4j yml files.  e.g.
````value: "%d{yyyy.MM.dd HH:mm:ss.SSS} [%t] %-5level %logger{1.} - %X{internal-request-id}%X{external-request-id}%msg%n%xThrowable{separator(|)}"````
will become
````value: "%d{yyyy.MM.dd HH:mm:ss.

[2019-08-14 20:18] GalaHarley commented on #288
New trace logging with the HttpTrace looks like this:

![image](https://user-images.githubusercontent.com/51339284/63053144-160cc280-beaf-11e9-9cd0-10ada71feade.png)

[2019-08-15 19:51] GalateaSean opened #294 "Add database versioning with Flyway"
Issue Description
--
Set up the infrastructure for Flyway versioning and use it to create the settlement_mission table in the h2 database when fuse starts up.

Design
--
Add the Flyway dependency to maven and the necessary config. Spring automatically autowires Flyway with its DataSource and invokes it on startup. Create a new directory for Flyway scripts in src/main/resources/db/migration and add

[2019-08-16 14:52] GalateaSean commented on #231
Design Changes
--
I've added the versioning changes using the @Version annotation, as described by Eric. In Will's initial design, PUT requests were made using TradeAgreemnt objects. But because the SettlementMission object is what is actually stored in the H2 database, this caused some difficulty in managing the version and id fields. To help mitigate confusion, I have removed the ID and Version

[2019-08-20 14:25] GalateaEric opened #296 "Fix frequent timeouts on integration tests on Cloud Foundry by increasing health check timeouts."
Issue Description
--

Our integration test builds on Jenkins are frequently failing because of the health check timeout killing our app on cloud foundry.  We're pretty sure the swagger docs are what takes so long for our app to start up, which may be fixed when upgrading to spring boot 2, but for the moment it will be simplest to just increase the timeout.

Unfortunately, in order to increase the

[2019-08-20 20:06] GalateaEric opened #297 "Use the xolstice maven protobuf plugin"
Issue Description
--

Currently developers have to manually download and run protoc on our .proto files, and then commit changes to the .java files.

This maven plugin will compile the .proto files into .class files as part of our maven build, obviating the need for all of the above.

Design
--
https://www.xolstice.org/protobuf-maven-plugin/

There are plenty of examples around the internet.

Docu

[2019-08-21 15:02] GalateaEric commented on #243
we are good with using UriUtils for now to encode new line characters in the requestId.

[2019-08-21 15:02] #243 closed, assigned to GalateaTom

[2019-08-23 15:45] GalateaEric commented on #297
this is done in develop

[2019-08-23 15:45] #297 closed, assigned to GalaHarley

[2019-08-23 18:25] GalateaEric commented on #296
fixed in PR: #290

[2019-08-23 18:25] #296 closed, assigned to GalateaSean

[2019-08-23 18:28] GalateaEric commented on #288
merged to develop

[2019-08-23 18:28] #288 closed, assigned to GalaHarley

[2019-08-27 14:36] GalateaEric commented on #246
we are now on openjdk 11 in all of: 1) locally, 2) jenkins builds, 3) cloud foundry deployments.  This problem must have been resolved somewhere along the way, presumably with the upgrade to spring boot 2.1

[2019-08-27 14:36] #246 closed, assigned to GalaHarley

[2019-08-27 14:37] GalateaEric commented on #292
done in PR #299

[2019-08-27 14:37] #292 closed, assigned to GalaHarley

[2019-08-27 14:44] GalateaEric commented on #245
this was done under #292

[2019-08-27 14:44] #245 closed, assigned to nobody

[2019-09-05 12:10] gala-dan opened #300 "Demonstrate how to secure an endpoint"
Issue Description
--
Would be useful to demonstrate how to secure a restful endpoint to ensure only authenticated users can access it.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should b

[2019-09-11 15:37] GalateaTom commented on #287
Notes on why certain design decisions were made in #287 feature branch:
- As this is unit testing of SettlementRestController I attempted to use as few other classes as possible, hence why I did not include the @WebMvcTest annotation.
- Originally there were issues getting SettlementRestController to pickup the various properties from application.properties.  This was resolved by the PropertyConfi

[2019-09-12 15:19] GalateaTom commented on #287
Notes on design decisions in FuseHttpTraceFilterTest class
- Test class created because SettlementRestControllerTest no longer calls FuseHttpTraceFilter and therefore we can no longer test the contents of the header in that class
- Individual tests in FuseHttpTraceFilterTest are the tests that were originally in SettlementRestControllerTest and called SettlementRestControllerTest.verifyAuditHeader

[2019-10-28 20:18] ciferkey opened #302 "Introductory Spring Annotation Documentation"
Issue Description
--
Fuse docs should include some resources to "demagic" Spring annotations for people seeing Spring for the first time.

It doesn't need to be a lot of material, just a quick list of the basic annotations you use, what they mean and why they are the ones that are favored now a days (eg clarifying things like why constructor based autowiring is preferred now).

Design
--
* should

[2019-12-17 17:56] GalateaRaj commented on #279
Let's do both stdout and log file when running locally.
Cloud Foundry should continue to do stdout only

[2019-12-17 17:59] GalateaRaj commented on #291
Before we start this, please double check that variable substitution hasn't already been done.

[2019-12-17 18:01] GalateaRaj commented on #300
Duplicate of #33

[2019-12-17 18:01] #300 closed, assigned to nobody

[2019-12-17 18:08] GalateaRaj commented on #302
Update FUSE doc with references to spring and lombok docs.  Add colour on any suggested annotations that should or should not be used.

[2019-12-17 18:10] GalateaRaj commented on #88
Since #288 is done, RIP tracer.

[2019-12-17 18:10] #88 closed, assigned to nobody

[2019-12-18 19:10] cbaltera opened #304 "Add documentation to ensure protobuf java files are generated"
Issue Description
--
Downloading and attempting to build fuse via something other than **mvn compile** (for example just trying to run the tests via the provided run configurations) produces compilation errors in SettlementProtoRestController.java because the protobuf message classes can't be found.

`import org.galatea.starter.entrypoint.messagecontracts.ProtobufMessages.SettlementMissionProtoMes

[2019-12-19 17:56] mikegajda commented on #291
This appears to be closed by 4fa00844416ac67aeceb7faeec2e8addf848cf5d. Manifest variable substitution is already in develop

[2019-12-19 18:08] mikegajda commented on #264
Should this still have the pr:critical label?

[2019-12-19 18:13] mikegajda commented on #230
This appears to be complete: https://docs.google.com/document/d/1eNODztmE8VPgQ8sEs-QyGH5rjXgx_2esnp5cJK2YF7Q/edit#heading=h.ncp0tei2zg48 under "Interacting with a Database"

[2019-12-20 17:00] #230 closed, assigned to Gala-Sortino

[2019-12-20 17:53] mikegajda commented on #191
Changing the status to st:already-done to remove from st:ready backlog in preparation for furlough work on fuse. If this was incorrect, I will reopen.

Note: This migration seems to have been completed by HAL 2.0 - Sprint 1

[2019-12-20 18:01] mikegajda commented on #231
Changing the status to st:already-done to remove from st:ready backlog in preparation for furlough work on fuse. If this was incorrect, I will reopen.

[2019-12-20 18:06] mikegajda commented on #291
Marking with label st:already-done to remove from the st:ready backlog in preparation for furlough work on fuse. If this was incorrect, I will reopen.

[2019-12-20 18:08] mikegajda commented on #191
Reopening pending final decision from Steering Committee

[2019-12-20 18:09] mikegajda commented on #231
Reopening pending Steering Committee review.

[2019-12-20 18:47] mikegajda commented on #204
Appears to be done, so adding st:already-done label. Relevant info: https://docs.google.com/document/d/1eNODztmE8VPgQ8sEs-QyGH5rjXgx_2esnp5cJK2YF7Q/edit#heading=h.8z079zu93rk6

[2019-12-20 18:50] mikegajda commented on #180
Relevant doc is here: https://docs.google.com/document/d/1eNODztmE8VPgQ8sEs-QyGH5rjXgx_2esnp5cJK2YF7Q/edit. Adding st:already-done label for furlough planning purposes

[2019-12-20 18:53] mikegajda commented on #176
Adding st:already-done label as work seems complete. Waiting on Steering Committee final sign off to close issue

[2019-12-20 18:57] mikegajda commented on #74
Work is to put this knowledge into the README

[2019-12-20 18:59] mikegajda commented on #55
I believe Tracer has been decommissioned, so I think this should be closed as st:won't fix. Moving back to st:decision-needed

[2019-12-20 19:01] mikegajda commented on #9
Adding st:already-done label as work seems complete in conjunction with #176. Waiting on Steering Committee final sign off to close issue

[2019-12-20 19:06] mikegajda commented on #263
Adding label st:already-done as seems we decided to go with Jackson CSV. If that's not the case this should be reopened.

[2019-12-20 19:29] GalateaFarhaad commented on #263
I wouldn't say that this is necessarily done - Jackson CSV is what I used in the specific use case of 205, but there might be some other way we want to create CSVs in other use cases.

[2019-12-20 19:49] cbaltera commented on #263
My semi-considered preferences are Jackson for writing and apache for reading, although I could see that varying depending on what I wanted to do with the data I read in (if it should be a map or a specific POJO).

[2019-12-20 20:04] mikegajda commented on #263
Will reopen to bring back to Fuse Steerco for input

[2020-01-07 17:45] #291 closed, assigned to nobody

[2020-01-07 17:50] mikegajda commented on #204
The Domain Objects needs to be filled in to be completed

[2020-01-07 17:52] mikegajda commented on #191
Need to add a new item to do the actual HAL migration

[2020-01-07 17:53] #180 closed, assigned to mbarber-gala

[2020-01-07 17:54] #176 closed, assigned to GalateaFarhaad

[2020-01-07 17:56] mikegajda commented on #9
Double check that all aspects are done before closing

[2020-01-07 18:06] mikegajda commented on #25
- PaaS vs Non-PaaS run environments
- Number of JVMs (small vs. large)
- Two problems: 1) getting data out of the JVM. 2) taking actions on a JVM
- Mike & Constance: take a look at a specific use case (cache) for small to big apps, PaaS and non PaaS

[2020-01-07 18:14] mikegajda commented on #232
An ETL-like application would be a different use case from the current REST API Fuse implementation. Thinking is that an ETL-like app should live in its own repo, maybe fuse-starter-java-etl? For now, leave this out-of-scope for this repo

[2020-01-07 18:24] mikegajda commented on #98
Decision is to move this repo to gradle. This ticket should make a reference to Maven and link to fuse-starter-kafka-streams as an example.

[2020-01-07 18:26] mikegajda commented on #56
Double check that this is implemented and documentation is up to date

[2020-01-07 18:28] mikegajda commented on #55
Tracer has been removed since it's not compatible w/ Spring 2.

[2020-01-07 18:28] #55 closed

[2020-01-07 18:31] mikegajda commented on #11
Startup scripts? Docker? etc. Need to investigate what recommendations we want to make.

[2020-01-09 15:58] cbaltera opened #311 "Wiremock to use random port to prevent Jenkins build failures"
Issue Description
--
IexRestControllerTest fails sporadically in Jenkins with

com.github.tomakehurst.wiremock.common.FatalStartupException: java.lang.RuntimeException: java.net.BindException: Address already in use
Caused by: java.lang.RuntimeException: java.net.BindException: Address already in use
Caused by: java.net.BindException: Address already in use

This appears to occur when two builds a

[2020-01-09 16:39] #279 closed, assigned to ktweel

[2020-01-09 21:16] #304 closed, assigned to ktweel

[2020-01-10 15:56] cbaltera commented on #311
- Needed to add spring-cloud-contract-wiremock dependency to get the random port variable working
- Configuring a random port in the existing wiremock setup (WireMockClassRule) caused the test to fail with Connection Refused, apparently because the wiremock port wasn't actually being determined until after the feign clients had been set up with whatever the default value for ${wiremock.server.port

[2020-01-13 17:05] cbaltera opened #314 "Fix sonar issues so develop build passes"
Issue Description
--
The develop branch is currently failing our sonar quality gate because sonar reports 4 major issues.  These should be fixed.

![image](https://user-images.githubusercontent.com/7673236/72275976-fe23a100-35fc-11ea-9817-45e0953b6c3c.png)

https://sonarcloud.io/project/issues?id=org.galatea%3Afuse-starter-java&resolved=false&severities=MAJOR

[Description of the issue, with examp

[2020-01-13 20:40] cbaltera commented on #276
added dependency on spring-cloud-contract-wiremock in #311 to allow random port selection for tests

[2020-01-14 16:50] cbaltera commented on #9
Current status appears to be (per setup instructions):
- Eclipse:
-- save actions
-- import order
-- code formatter
- Intellij:
-- code formatter

More investigation required to determine whether the intellij formatter also handles import order.  Save actions as such are not available in intellij out of the box, will need to figure out our preferred alternative.

Checkstyle is a part of the build

[2020-01-14 16:56] cbaltera commented on #191
Leaving this open as it appears the goal of this issue was to create the issue(s) in which to do the migration, and they have not been created.

[2020-01-14 16:59] cbaltera commented on #191
Reverted to st:decision-needed.  Not sure _what_ decision is needed, so will move to st:ready if it seems appropriate, despite lack of urgency.

[2020-01-14 17:44] cbaltera commented on #191
Consensus that decision was whether or not to do this; last week's discussion said yes but low priority, so moving to st:ready.

[2020-01-14 17:51] cbaltera commented on #9
Heather recalls some issue with IDE plugin checkstyle, so current preference is running it in the build.

[2020-01-14 18:07] cbaltera commented on #24
Preference for using Feign's retry for external rest calls?

Need to find a use case for transient failures in Fuse.  Queues may also have their own retry config (but see also #41).

DB contention? Retry if you fail to get lock.

[2020-01-14 18:07] cbaltera commented on #24
Preference to demonstrate on repository/db interaction.

[2020-01-14 18:15] cbaltera commented on #217
See links above for information, no generally applicable best practice (very situational).

[2020-01-14 18:15] #217 closed, assigned to nobody

[2020-01-14 18:25] cbaltera commented on #87
Check whether this is happening automatically.

[2020-01-14 21:08] cbaltera opened #315 "Fix sonar test coverage"
Issue Description
--
[Description of the issue, with example/screenshot. Description of what the desired behavior should be. Should be complete before Review is approved]

Sonar is displaying 0% test coverage since September, despite the tests still running successfully and not having been deleted wholesale or anything.  The last build with test coverage includes the following log line, and our cu

[2020-01-14 21:11] cbaltera commented on #315
See https://community.sonarsource.com/t/coverage-test-data-importing-jacoco-coverage-report-in-xml-format/12151

[2020-01-21 15:50] mikegajda commented on #56
Google doc contains the following:

Will close as documentation and source are up-to-date

[2020-01-21 15:50] #56 closed

[2020-01-21 16:16] mikegajda commented on #11
This appears to already be decisioned in: https://github.com/galatea-associates/fuse-starter-java/issues/226

I do think there is an open question of how containers should fit in to Fuse. My recommendation is that a new ticket is opened to add a Dockerfile for building images to run on non-CloudFoundry environments as examples of this will be required going forward as Kubernetes-based deployments

[2020-01-21 18:13] mikegajda commented on #11
Thoughts from Steerco: use Spring uber jars to replace capsule. Have a start script to lock in command line params. Thoughts on Docker would be that it's not worth the time yet as likely not usable in our environments yet.

[2020-01-21 18:13] #11 closed

[2020-01-28 01:29] mikegajda opened #317 "Add git clone instructions to README"
Issue Description
--
There is currently no indication of how to clone the repo for people who are new to Git. Add this to the README with instructions for installing Git if necessary to improve onboarding.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fu

[2020-02-03 20:11] mikegajda opened #318 "Google Doc Documentation Cleanup & Organization"
Issue Description
--
The existing google doc needs to be cleaned up:
- make sure all files exist that are referenced in the doc
- add overarching organization (add logical sections, tell a story, an introduction: what is this about?)

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of

[2020-02-03 20:12] mikegajda opened #319 "Add maven installation instructions to README"
Issue Description
--
[Description of the issue, with example/screenshot. Description of what the desired behavior should be. Should be complete before Review is approved]

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes

[2020-02-03 20:13] mikegajda opened #320 "Add Postman installation instructions"
Issue Description
--
Investigate if Postman can be installed from the website first, without needing an admin password. If it does, include instruction to download from Windows Store.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due t

[2020-02-03 20:20] mikegajda opened #321 "Demonstrate Start Script in non PaaS environment"
Issue Description
--
- how to run uber jar, including the JVM tuning params, from a start script
- what params should go in start script and what should go in config?

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in

[2020-02-03 20:37] mikegajda commented on #33
Does this require detail from Raj still or is it ready for discussion?
- Should this include implementing cert-based auth, or basic auth?
- How do we handle entitlements for authorization for certain resources (proposal: hard code it, or have something in the database, make it a black box?)

[2020-02-03 21:23] cbaltera commented on #217
An additional link:
https://www.baeldung.com/java-performance-mapping-frameworks

[2020-02-04 18:12] mikegajda commented on #321
Useful context to consider: https://sites.google.com/a/galatea-associates.com/fuse/components/deployment-scripts/fuse-deployment/deploy

[2020-02-04 18:23] mikegajda commented on #318
Investigate gitlab access

[2020-02-04 18:54] mikegajda commented on #33
Decision: try OAuth via Rippling for auth at first, if not, go to Basic.

Decision: For entitlements (aka authorization) create the interfaces for authorization but leave it super basic. No need to tie into any particular entitlement system, just demonstrate that different users (at least two) can get different levels of access (at least two).

Decision: this is an advanced ticket, and needs to be

[2020-02-10 20:06] cbaltera opened #322 "Gather/log metrics"
Issue Description
--

Spring 2.0 introduced Micrometer as a "vendor-neutral application metrics facade." In the background this powers Spring Actuator. Micrometer integrates with a number of popular metrics backends including: a log file, Elastic, Graphic, Influx, JMX, Prometheus, and more. Micrometer provides an Interface to provide metrics to other backends (Geneos is something that comes to min

[2020-02-10 20:09] cbaltera opened #323 "replace ehcache.xml by java config"
Issue Description
--
(!) ensure there are tests in place for #253 prior to proceeding

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete before Review is approved]

Test Evide

[2020-02-10 20:50] cbaltera commented on #323
Also make sure to consider discussion in #63.  In particular, we don't want to just undo the changes from that JIRA -- we want to convert the ehcache object definitions in ehcache.xml into java config.

[2020-02-10 20:58] cbaltera commented on #29
How much of this vanished with Tracer?

[2020-02-10 21:17] #311 closed, assigned to cbaltera

[2020-02-10 21:18] #315 closed, assigned to cbaltera

[2020-02-10 21:24] mikegajda commented on #232
Comment from Eric is that this would still be useful to demonstrate. Likely not in scope for fuse-starter-java, a good candidate for its own project, if time/resources permit.

[2020-02-14 19:50] mikegajda commented on #87
Spring boot rolled out HikariCP with Spring Boot 2, so we got this for free when we upgraded: https://github.com/spring-projects/spring-boot/issues/6013

[2020-02-14 20:38] #287 closed, assigned to GalateaTom

[2020-02-14 20:46] mikegajda commented on #29
This is still st:ready, but the task is slightly different. Confirm the above is still accurate, and that the removal of Tracer.java hasn't led to a regression. If the tracing no longer meets the requirements set out by Raj, this ticket encompasses re-implementing them.

[2020-02-24 20:57] mikegajda commented on #87
Metrics from hikaricp are not exposed by default, reopening. Metrics need to be turned on by enabling this property: `management.endpoints.web.exposure.include: info, health, metrics`. As part of this task, make sure we're not exposing anything we don't want to expose by turning this on.

[2020-02-24 21:09] mikegajda commented on #87
Because this info is exposed via JMX, we're closing this again. There needs to be broader discussion on what to expose via JMX/REST of Actuator, which will happen on another ticket.

[2020-02-24 21:09] #87 closed, assigned to nobody

[2020-02-24 21:17] mikegajda commented on #263
@cbaltera updated OneBar with information about handling CSV and best practices. Closing this.

[2020-02-24 21:17] #263 closed, assigned to nobody

[2020-02-24 21:35] cbaltera commented on #87
Hikari JMX bean:
![image](https://user-images.githubusercontent.com/7673236/75192937-44534080-5723-11ea-9d50-0d580ad6b344.png)

Actuator JMX beans:
Health
![image](https://user-images.githubusercontent.com/7673236/75193051-79f82980-5723-11ea-8b92-cf96c890de64.png)
Metrics
![image](https://user-images.githubusercontent.com/7673236/75193125-9bf1ac00-5723-11ea-8caf-7a934125261c.png)

[2020-02-25 16:08] mikegajda opened #324 "Move Documentation to GitHub"
Issue Description
--
We currently maintain documentation for fuse in the README here and in a Google doc. Merge these two sources of documentation into the README here. Additionally, make sure that documentation in resulting README is up to date. The Google Doc is here: https://docs.google.com/document/d/1eNODztmE8VPgQ8sEs-QyGH5rjXgx_2esnp5cJK2YF7Q/edit#

Design
--
[Description of the root cause f

[2020-02-25 18:11] cbaltera commented on #324
Need confirmation from Raj before proceeding.

[2020-02-25 18:24] cbaltera commented on #224
Additional items to cover:
- inclusion of error codes
- what fields to include in custom exceptions (message, cause when relevant)
-- guidelines around what to include in message (what happened, what are you doing now)
- if/when it's okay to not expose the stack trace (avoid sending to external consumers, try to avoid logging same stack trace multiple times, etc.)

[2020-02-25 18:24] cbaltera commented on #224
Remaining decision: how do we want to show all these things?  Heather points out that there aren't a lot of places to generate exceptions in the current state of the code.

[2020-02-25 18:44] cbaltera commented on #90
Motivation is to handle/create structured log formats for e.g. piping to ELK or other metrics collection tool.

**Scope**: log summary of each request received to a JSON logfile (separate from regular logfile)

[2020-03-09 16:27] mikegajda opened #326 "Implement Micrometer Metrics Logging"
Issue Description
--
Spring 2.0 introduced Micrometer as a "vendor-neutral application metrics facade." In the background this powers Spring Actuator. Micrometer integrates with a number of popular metrics backends including: a log file, Elastic, Graphic, Influx, JMX, Prometheus, and more. Micrometer provides an Interface to provide metrics to other backends (Geneos is something that comes to mind

[2020-03-09 19:27] cbaltera commented on #195
Simple usage of cucumber has been moved to https://github.com/galatea-associates/fuse-starter-etl/issues/1.

This task covers Raj's DSL request and using cucumber to test REST services.  The remaining decision is to determine whether or not to use cukes-rest (vs writing our own DSL).  The dev task is to either write and integrate the DSL or to integrate cukes, as appropriate.

[2020-03-09 19:56] cbaltera commented on #167
Decisions pending:
- confirm gatling is still the way to go
- identify tests to run

[2020-03-09 20:08] mikegajda commented on #326
Duplicate of #322

[2020-03-09 20:08] #326 closed, assigned to nobody

[2020-03-10 17:52] mikegajda commented on #322
Perhaps do along with #90 (change the log output to be JSON instead of regular log file)

[2020-03-10 18:01] mikegajda commented on #86
The task is: do research on how this can be achieved:
- ask around at Galatea
- search for options (Guava has something Maximum Size Element Costs Analysis? EHCache does this, but it's slow)
- Is there a cache implementation that can be memory-bound (not bound by # of objects) & efficient (not slow)
- This SO had some ideas: https://stackoverflow.com/questions/40098123/guava-maximum-cache-size

[2020-03-10 18:02] mikegajda commented on #86
When research complete, return to SteerCo for further discussion

[2020-03-10 18:07] mikegajda commented on #276
SteerCo: Unless you own both sides of the boundary for a service, Cloud Contract, won't be useful, therefore, we're recommending not to use this. (Except if you need the dependency to allow you to use random ports w/ Wiremock as in #311, in which case, spring-cloud-contract-wiremock gets the job done)

[2020-03-10 18:07] #276 closed, assigned to nobody

[2020-06-16 17:06] mikegajda commented on #324
Decision: test that we can access a private repo, and provided that we can, make this a private repo given GitHub's new pricing model

[2020-06-16 17:08] mikegajda commented on #318
Closing as #324 remains open and the Google Doc has been updated

[2020-06-16 17:08] #318 closed, assigned to cbaltera, mikegajda

[2020-06-22 18:07] #253 closed, assigned to nobody

[2020-07-06 21:00] mikegajda commented on #28
Would like to close pending review by SteerCo

[2020-07-06 21:02] cbaltera opened #333 "Fix sporadic test/build failures"
Issue Description
--
Builds in jenkins sporadically fail the tests with

Google suggests that it's a plugin version issue (https://stackoverflow.com/questions/55272870/surefire-maven-plugin-corrupted-stdout-by-directly-writing-to-native-stream-in).

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--

[2020-07-07 17:09] mikegajda commented on #324
Todo: write the google doc in markdown, then decide where to put it. Note: CS doesn't allow private access to a repo as the GitHub login is blocked.

[2020-07-07 17:18] mikegajda commented on #38
Takeaways:
1. Check that the first three features listed by Raj are actually implemented, and check and document the features of @Cacheable.
2. Ping SteerCo about other cache features that might be wanted. Can you refresh your cache every 15 mins with @Cacheable? maybe? On a cache miss, don't cache a 404, cache only the golden source. What if you have two instances running, each with different cac

[2020-07-07 17:20] mikegajda commented on #34
Decision needed: What is the example that will be used?

[2020-07-07 17:21] mikegajda commented on #34
Action item: look for places where we could put Application Events with Spring and develop the Issue fully with requirements.

[2020-07-07 17:22] mikegajda commented on #28
SteerCo: duplicate, will close

[2020-07-07 17:22] #28 closed

[2020-07-21 17:16] mikegajda commented on #60
1. Store timestamps in UTC
2. Set JVM timezone in UTC
3. ZonedDateTime should be used basically everywhere, and only convert to LocalDateTime at boundary layers, if necessary. In general, return dates with timezone data
4. When sending JSON, send a JSON String, and then parse into a JavaScript Date object

Todo for this ticket:
- Add the first three items from DateTest.java to the README and point

[2020-07-21 17:17] mikegajda opened #334 "Demonstrate @DateTimeFormat functionality on REST Endpoint"
Issue Description
--
Demonstrate a REST endpoint that takes in a ZonedDateTime using @DateTimeFormat like this: https://stackoverflow.com/questions/32512782/using-spring-restcontroller-to-handle-http-get-with-zoneddatetime-parameters

Also, please check: can this be used outside of a REST context? Can it be applied anywhere where you need to check a date format?

Design
--

Documentation Changes
-

[2020-07-21 17:20] mikegajda opened #335 "How to handle Date conversion from Database to ZonedDateTime"
Issue Description
--
Legacy databases might store Dates in formats different from ZonedDateTime. How do we handle getting dates into and out of the Database after standardizing around ZonedDateTime when working with dates?

Design
--
Survey people using legacy Databases, see what their dates look like, then write some tests that show the conversion of these dates to ZonedDateTime.

Documentation C

[2020-07-27 20:51] cbaltera commented on #72
Likely related to #251 which also involves switching databases

[2020-07-27 20:53] mikegajda commented on #5
This is a research task that might result in new decisions needing to be made. Get as far as possible with research and then come back to SteerCo

[2020-08-03 20:51] mikegajda commented on #61
How do we want to do this? Thoughts on using Jasypt? https://www.baeldung.com/spring-boot-jasypt

[2020-08-04 17:06] mikegajda commented on #46
Problem to solve: you have a running JVM and you suddenly see throughput falling. We want a tool to see what the threads in your JVM are doing so that we can do debugging.

JTop (the tool linked above) is likely no longer the preferred tool, so this ticket is to look into which tool would be most relevant these days.

[2020-08-04 17:12] mikegajda commented on #61
In the absence of client-side infrastructure, how can you handle sensitive info?

Likely recommendation is to use Jasypt, so the task is to follow the guide linked above to show in fuse:
1. how to encrypt a password
2. how to decrypt a password and inject spring environment
3. how to use with spring-boot (there's a plugin for this)
4. best practices to distribute the key to decrypt your encrypted

[2020-08-10 20:50] #89 closed, assigned to nobody

[2020-08-10 20:50] cbaltera commented on #89
duplicate of #90

[2020-08-17 20:50] mikegajda opened #336 "Convert Google Doc To Markdown"
Issue Description
--
Take the Google Doc here: https://docs.google.com/document/d/1eNODztmE8VPgQ8sEs-QyGH5rjXgx_2esnp5cJK2YF7Q/edit# and convert it to markdown. Commit it to the repository as 'documentation.md'

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to t

[2020-08-17 20:50] mikegajda commented on #324
Waiting on #336

[2020-08-17 20:54] cbaltera commented on #232
See https://github.com/galatea-associates/fuse-starter-etl

[2020-08-17 20:54] #232 closed, assigned to nobody

[2020-08-17 20:56] mikegajda commented on #231
Task now is to validate that all items in the description have been addressed, or have separate tickets

[2020-08-17 21:04] cbaltera opened #337 "Research: performance testing"
Issue Description
--
Relates to #167.  Please update that issue with the results of your research.

- Verify that gatling is still the preferred solution for automated performance/load testing
- Identify performance tests that fuse should have

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Desc

[2020-08-17 21:08] cbaltera commented on #75
Could also be linked to #34.

[2020-08-17 21:19] mikegajda commented on #6
Action item:
1. Go through Spring productionization guide linked above
2. Check what's already implemented in Fuse
3. Check authentication and authorization and ensure the settings are where we want them (only authorized users can do bad things or get important information)

[2020-08-17 21:22] mikegajda commented on #2
Task: document Raj's decision tree above and make sure that Fuse follows the decision tree above

[2020-08-18 06:28] gala-dan opened #338 "Demonstrate how to containerise FUSE"
Issue Description
--
It would be highly useful to show how we could create a container for FUSE. Right now we deploy to PWS, which creates a container for us. But it would be useful to demonstrate how we could create a container which could be deployed to alternative cloud platforms.

Design
--
Suggest demonstrating with Jib.

Documentation Changes
--
[Description of changes necessary to the Fuse

[2020-08-18 17:10] mikegajda commented on #20
How do SLAs come into the picture here? If the app is up, but it's very slow, it's functionally down.

Thought is that hitting /health isn't enough because the app can be up but not really functional. It's a good first level check, but we definitely would want to dig deeper.

Would likely need an outside monitoring service of some sort, likely out of scope of the Fuse project, but Fuse should impl

[2020-08-18 17:22] mikegajda commented on #268
Does anyone have a strong opinion on this? So far we agree with Farhaad.

[2020-09-01 17:18] mikegajda commented on #268
Decision: these exceptions should be thrown at the Service level. EntityNotFoundException should be moved to the service package from the entrypoint package as part of this work.

[2020-09-01 17:26] mikegajda commented on #224
Decision: Make JMS item a separate ticket and figure out how may Galatea applications actually use JMS.

Decision: split out description into separate tickets.

[2020-09-01 17:28] mikegajda commented on #195
Decision: try using rest-cukes and see if there are any major deficiencies. If not, use what's already been written with rest-cukes, otherwise make our own.

[2020-09-01 17:34] mikegajda commented on #75
This is blocked on #262

[2020-09-01 17:36] mikegajda commented on #262
Idea: as a part of this, show the Producer Consumer concept here as well. After completing this, look at #75.

[2020-09-15 17:03] mikegajda commented on #35
New projects, use Webflux or Reactor framework. If an old project, @async might still be useful, but we won't show it here.

[2020-09-15 17:03] #35 closed

[2020-09-15 17:11] mikegajda commented on #20
Use /health for technical checks that your application is up and the external dependencies are up and can be connected to

Should have functional tests for RFB (given an account, add some positions, and make sure that the expected actions on an account have happened, in this case, you need a test account/data/client for use to use in production, usually a PVT client for this). Some use a tool like

[2020-09-15 17:16] mikegajda commented on #36
New scope: POST a file with a Mission on each line in a .csv file. How do we handle this file? How do we expand our RestControllers to accept files and handle them as expected.

[2020-09-28 20:43] cbaltera opened #341 "Replace PWS - research options"
Issue Description
--
PWS will cease being available as of January 15, 2021.  We should find an alternative solution for running Fuse integration tests before then.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in res

[2020-09-28 20:45] cbaltera commented on #341
This ticket covers researching the available options for replacing PWS.  Once the research is complete, add details to #342.

[2020-09-28 20:46] mikegajda opened #342 "Replace PWS"
Issue Description
--
After a solution is found on #341, implement it so that we can move away from PWS.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete before Review is app

[2020-09-28 20:47] mikegajda commented on #338
This might tie into #341

[2020-09-28 20:52] mikegajda commented on #334
Can go along with #335

[2020-09-28 20:57] cbaltera commented on #30
Scope: Validate Raj's points 1-2, raise follow-up tickets for points 3-4 as applicable based on results of validation.

[2020-09-28 21:00] mikegajda opened #343 "Verify /health Actuator Configuration"
Issue Description
--
Spring Actuator will expose the /health endpoint. Ensure the endpoint includes more than just the application being up. This health check should verify access (though not performance) of the upstream and downstream systems. Example: should check that the connection to the database is up and running.

Design
--
[Description of the root cause for the issue and how to resolve it.

[2020-10-05 20:40] mikegajda opened #344 "Investigate JMS Usage"
Issue Description
--
Poll #tech-general and see who is using JMS and how they're using it. Attach findings here.

Design
--
[Description of the root cause for the issue and how to resolve it. Should be complete before Review is approved]

Documentation Changes
--
[Description of changes necessary to the Fuse documentation due to the changes in response to this issue. Should be complete before Revi